# Dataset Preparation
- Inputs:
    - American Housing Survey (AHS) for survey years 2015, 2017, 2019, 2021, 2023.
    - HUD Income Limits for Select Metro Areas and Years (2015, 2017, 2019, 2021, 2023)
        - 12060: Atlanta-Sandy Springs-Roswell, GA
        - 14460: Boston-Cambridge-Newton, MA-NH
        - 16980: Chicago-Naperville-Elgin, IL-IN-WI
        - 19100: Dallas-Fort Worth-Arlington, TX
        - 19820: Detroit-Warren-Dearborn, MI
        - 26420: Houston-The Woodlands-Sugar Land, TX
        - 31080: Los Angeles-Long Beach-Anaheim, CA
        - 33100: Miami-Fort Lauderdale-West Palm Beach, FL
        - 35620: New York-Newark-Jersey City, NY-NJ-PA
        - 37980: Philadelphia-Camden-Wilmington, PA-NJ-DE-MD
        - 38060: Phoenix-Mesa-Scottsdale, AZ
        - 40140: Riverside-San Bernardino-Ontario, CA
        - 41860: San Francisco-Oakland-Hayward, CA
        - 42660: Seattle-Tacoma-Bellevue, WA
        - 47900: Washington-Arlington-Alexandria, DC-VA-MD-WV
- Output:
    - A panel dataset (2015 - 2023) that includes an `'AMI'` variable that categorizes each observation/household (identified by the `'CONTROL'` variable) by Area Median Income level based on the corresponding Income Limit thresholds for that Metropolitan and fiscal year defined by the U.S. Department of Housing and Urban Development (HUD). 

This notebook accomplishes the following parts of the workflow/analysis:
1. Complies a longitudinal dataset.
2. Isolates the AHS data to renter and owner-occupied housing units.
3. Identfies unique renter/owner occupied housing units by AMI level for the 15 largest metropolitan areas identified in the AHS:
    - Above LI: >80% AMI
    - Low-Income (LI): <= 80% AMI
    - Very Low-Income (VLI): <= 50% AMI
    - Extemely Low-Income (ELI): <= 30% AMI

In [1]:
#Importing Libraries
import requests
from io import StringIO

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
from matplotlib.ticker import PercentFormatter
import seaborn as sns

## Data Access
The AHS Public Use Files (PUFs) can be downloaded from census.gov:

- [2015 AHS National PUF](https://www.census.gov/programs-surveys/ahs/data/2015/ahs-2015-public-use-file--puf-/ahs-2015-national-public-use-file--puf-.html)
- [2017 AHS National PUF](https://www.census.gov/programs-surveys/ahs/data/2017/ahs-2017-public-use-file--puf-/ahs-2017-national-public-use-file--puf-.html)
- [2019 AHS National PUF](https://www.census.gov/programs-surveys/ahs/data/2019/ahs-2019-public-use-file--puf-/ahs-2019-national-public-use-file--puf-.html)
- [2021 AHS National PUF](https://www.census.gov/programs-surveys/ahs/data/2021/ahs-2021-public-use-file--puf-/ahs-2021-national-public-use-file--puf-.html)
- [2023 AHS National PUF](https://www.census.gov/programs-surveys/ahs/data/2023/ahs-2023-public-use-file--puf-/ahs-2023-national-public-use-file--puf-.html)

Note: This analysis uses the PUF "Flat File."

In [2]:
#Selected relevant variables for the analysis
columns_15 = ['CONTROL', 'WEIGHT', 'OMB13CBSA', 'VACANCY', 'VACMONTHS', 'TENURE', 'NUMPEOPLE', 'HINCP', 'RENT', 'TOTHCAMT',
           'HUDSUB', 'RENTSUB', 'RENTCNTRL', 'BLD', 'YRBUILT', 'BEDROOMS', 'HHMOVE']

columns = ['CONTROL', 'WEIGHT', 'OMB13CBSA', 'VACANCY', 'VACMONTHS', 'TENURE', 'NUMPEOPLE', 'HINCP', 'RENT', 'TOTHCAMT',
           'HUDSUB', 'RENTSUB', 'RENTCNTRL', 'BLD', 'YRBUILT', 'BEDROOMS', 'SAMEHHLD', 'HHMOVE']

#Loading 2015 AHS METRO PUF w/ selected columns
df_15 = pd.read_csv('data/ahs/ahs2015n.csv',
                    usecols=columns_15)

#Loading 2017 AHS METRO PUF w/ selected columns
df_17 = pd.read_csv('data/ahs/ahs2017n.csv',
                    usecols=columns)

#Loading 2019 AHS METRO PUF w/ selected columns
df_19 = pd.read_csv('data/ahs/ahs2019n.csv',
                    usecols=columns)
#Loading 2021 AHS METRO PUF w/ selected columns
df_21 = pd.read_csv('data/ahs/ahs2021n.csv',
                    usecols=columns)

#Loading 2023 AHS METRO PUF w/ selected columns
df_23 = pd.read_csv('data/ahs/ahs2023n.csv',
                    usecols=columns)

In [3]:
#Storing the DataFrames in a dictionary with full survey years as keys
dfs_by_year = {
    2023: df_23,
    2021: df_21,
    2019: df_19,
    2017: df_17,
    2015: df_15
}

#Previewing each df
for year, df in dfs_by_year.items():
    print(f'--- AHS {year} ---')
    print(df.head(), '\n')

--- AHS 2023 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000002'  1600   '-6'      '-6'     '8'   '99998'   813.890194  '03'
1  '11000003'   840    '2'      '-6'     '8'   '99998'   581.103231  '03'
2  '11000005'    -6    '1'      '-6'    '-6'   '99998'  7335.965001  '02'
3  '11000006'    -6    '1'      '-6'    '-6'   '99998'  6562.865941  '02'
4  '11000008'   800    '2'      '-6'     '8'   '99998'  1490.800600  '06'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0      -6         -6     '-6'     1980         4          0   '-6'    '02'
1    2023          3      '4'     1970         2         -6    '3'    '-6'
2    1995          2      '1'     1970         4         -6   '-6'    '-6'
3    2019          3      '4'     1970         3         -6   '-6'    '-6'
4    2019          1      '4'     1920         1         -6    '3'    '-6'

    HINCP  TOTHCAMT
0      -6        -6
1   48000      1093
2  292500       810
3   56000       489
4   36000       845

--- AHS 2021 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000005'    -6    '1'      '-6'    '-6'   '99998'  7686.712735  '02'
1  '11000007'    -6    '1'      '-6'    '-6'   '37980'  1371.137443  '02'
2  '11000009'    -6   '-6'      '-6'    '-6'   '99998'  2014.302083  '02'
3  '11000010'   370    '2'      '-6'     '1'   '99998'   144.581474  '02'
4  '11000013'    -6    '1'      '-6'    '-6'   '37980'   851.045950  '02'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    1995          2      '1'     1970         4         -6   '-6'    '-6'
1    1997          3      '4'     1960         4         -6   '-6'    '-6'
2      -6         -6     '-6'     1970         3         -6   '-6'    '10'
3    1970          2      '1'     1970         3         -6    '1'    '-6'
4    2014          2      '2'     1980         3         -6   '-6'    '-6'

    HINCP  TOTHCAMT
0   74030       779
1  147000      2360
2      -6        -6
3    1920       570
4  129000      1082

--- AHS 2019 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'  1279.823730  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  1999.744080  '02'
2  '11000003'    -6   '-6'      '-6'    '-6'   '99998'   509.513515  '04'
3  '11000005'    -6    '1'      '-6'    '-6'   '99998'  6168.628282  '02'
4  '11000008'   680    '2'      '-6'     '1'   '99998'   662.457146  '08'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    2000          3      '1'     2000         3         -6   '-6'    '-6'
1    2005          2      '1'     1970         3         -6   '-6'    '-6'
2      -6         -6     '-6'     1970         2         -9   '-6'    '06'
3    1995          2      '2'     1970         4         -6   '-6'    '-6'
4    2019          1      '3'     1970         1         -6    '3'    '-6'

    HINCP  TOTHCAMT
0  257000      1642
1  201000      1049
2      -6        -6
3   66900       671
4   35000       680

--- AHS 2017 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'  1051.093854  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  3311.486289  '03'
2  '11000005'    -6    '1'      '-6'    '-6'   '99998'  3228.128086  '02'
3  '11000006'    -6    '1'      '-6'    '-6'   '99998'  3524.638705  '02'
4  '11000007'    -6    '1'      '-6'    '-6'   '37980'  1070.960448  '02'

   HHMOVE SAMEHHLD  NUMPEOPLE  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    2000      '1'          3     2000         3         -6   '-6'    '-6'
1    2005      '1'          2     1970         3         -6   '-6'    '-6'
2    1995      '1'          3     1970         4         -6   '-6'    '-6'
3    1990      '2'          2     1980         3         -6   '-6'    '-6'
4    1997      '1'          4     1960         4         -6   '-6'    '-6'

    HINCP  TOTHCAMT
0  137500      1457
1  231000      1900
2  104800       876
3   58700       517
4  219700      1640

--- AHS 2015 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'   956.422496  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  2831.881478  '02'
2  '11000003'   500    '2'      '-6'     '4'   '99998'   317.056765  '03'
3  '11000005'    -6    '1'      '-6'    '-6'   '99998'  3424.378737  '02'
4  '11000006'    -6    '3'      '-6'     '8'   '99998'  3290.308321  '02'

   HHMOVE  NUMPEOPLE  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY   HINCP  \
0    2000          3     2000         3         -6   '-6'    '-6'  113000
1    2005          2     2000         3         -6   '-6'    '-6'   29000
2    2014          3     1970         2         -6    '2'    '-6'   45000
3    1995          3     1970         4         -6   '-6'    '-6'   69900
4    2015          3     1980         3         -6    '3'    '-6'   49200

   TOTHCAMT
0      1440
1      1354
2       644
3       672
4       320

In [4]:
#Checking the shape/info of each DataFrame
for year, df in dfs_by_year.items():
    print(f'\n--- AHS {year} ---')
    print('Shape:', df.shape)
    df.info()

--- AHS 2023 ---
Shape: (55669, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55669 entries, 0 to 55668
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CONTROL    55669 non-null  object
 1   RENT       55669 non-null  int64
 2   TENURE     55669 non-null  object
 3   RENTCNTRL  55669 non-null  object
 4   RENTSUB    55669 non-null  object
 5   OMB13CBSA  55669 non-null  object
 6   WEIGHT     55669 non-null  float64
 7   BLD        55669 non-null  object
 8   HHMOVE     55669 non-null  int64
 9   NUMPEOPLE  55669 non-null  int64
 10  SAMEHHLD   55669 non-null  object
 11  YRBUILT    55669 non-null  int64
 12  BEDROOMS   55669 non-null  int64
 13  VACMONTHS  55669 non-null  int64
 14  HUDSUB     55669 non-null  object
 15  VACANCY    55669 non-null  object
 16  HINCP      55669 non-null  int64
 17  TOTHCAMT   55669 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 7.6+ MB

--- AHS 2021 ---
Shape: (64141, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64141 entries, 0 to 64140
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CONTROL    64141 non-null  object
 1   RENT       64141 non-null  int64
 2   TENURE     64141 non-null  object
 3   RENTCNTRL  64141 non-null  object
 4   RENTSUB    64141 non-null  object
 5   OMB13CBSA  64141 non-null  object
 6   WEIGHT     64141 non-null  float64
 7   BLD        64141 non-null  object
 8   HHMOVE     64141 non-null  int64
 9   NUMPEOPLE  64141 non-null  int64
 10  SAMEHHLD   64141 non-null  object
 11  YRBUILT    64141 non-null  int64
 12  BEDROOMS   64141 non-null  int64
 13  VACMONTHS  64141 non-null  int64
 14  HUDSUB     64141 non-null  object
 15  VACANCY    64141 non-null  object
 16  HINCP      64141 non-null  int64
 17  TOTHCAMT   64141 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 8.8+ MB

--- AHS 2019 ---
Shape: (63185, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63185 entries, 0 to 63184
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CONTROL    63185 non-null  object
 1   RENT       63185 non-null  int64
 2   TENURE     63185 non-null  object
 3   RENTCNTRL  63185 non-null  object
 4   RENTSUB    63185 non-null  object
 5   OMB13CBSA  63185 non-null  object
 6   WEIGHT     63185 non-null  float64
 7   BLD        63185 non-null  object
 8   HHMOVE     63185 non-null  int64
 9   NUMPEOPLE  63185 non-null  int64
 10  SAMEHHLD   63185 non-null  object
 11  YRBUILT    63185 non-null  int64
 12  BEDROOMS   63185 non-null  int64
 13  VACMONTHS  63185 non-null  int64
 14  HUDSUB     63185 non-null  object
 15  VACANCY    63185 non-null  object
 16  HINCP      63185 non-null  int64
 17  TOTHCAMT   63185 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 8.7+ MB

--- AHS 2017 ---
Shape: (66752, 18)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66752 entries, 0 to 66751
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CONTROL    66752 non-null  object
 1   RENT       66752 non-null  int64
 2   TENURE     66752 non-null  object
 3   RENTCNTRL  66752 non-null  object
 4   RENTSUB    66752 non-null  object
 5   OMB13CBSA  66752 non-null  object
 6   WEIGHT     66752 non-null  float64
 7   BLD        66752 non-null  object
 8   HHMOVE     66752 non-null  int64
 9   SAMEHHLD   66752 non-null  object
 10  NUMPEOPLE  66752 non-null  int64
 11  YRBUILT    66752 non-null  int64
 12  BEDROOMS   66752 non-null  int64
 13  VACMONTHS  66752 non-null  int64
 14  HUDSUB     66752 non-null  object
 15  VACANCY    66752 non-null  object
 16  HINCP      66752 non-null  int64
 17  TOTHCAMT   66752 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 9.2+ MB

--- AHS 2015 ---
Shape: (69493, 17)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69493 entries, 0 to 69492
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CONTROL    69493 non-null  object
 1   RENT       69493 non-null  int64
 2   TENURE     69493 non-null  object
 3   RENTCNTRL  69493 non-null  object
 4   RENTSUB    69493 non-null  object
 5   OMB13CBSA  69493 non-null  object
 6   WEIGHT     69493 non-null  float64
 7   BLD        69493 non-null  object
 8   HHMOVE     69493 non-null  int64
 9   NUMPEOPLE  69493 non-null  int64
 10  YRBUILT    69493 non-null  int64
 11  BEDROOMS   69493 non-null  int64
 12  VACMONTHS  69493 non-null  int64
 13  HUDSUB     69493 non-null  object
 14  VACANCY    69493 non-null  object
 15  HINCP      69493 non-null  int64
 16  TOTHCAMT   69493 non-null  int64
dtypes: float64(1), int64(8), object(8)
memory usage: 9.0+ MB

## Setting up and Preparing DataFrames for Longitudinal Analysis
- Adding `SRVYEAR` variable/column to identify the year of the AHS dataset that will be concatenated later in the analysis
- Using `.concat()` to stack the DataFrame vertically (long format)
- Stripping the extra `''` from the sting values

In [5]:
#Add the survey year as a new column in each DataFrame
dfs_by_year = {
    year: df.assign(SRVYEAR=int(year)) for year, df in dfs_by_year.items()
}

In [6]:
#Checking the DataFrames to see if the column was added
for year, df in dfs_by_year.items():
    print(f'--- AHS {year} ---')
    print(df.head(), '\n')

--- AHS 2023 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000002'  1600   '-6'      '-6'     '8'   '99998'   813.890194  '03'
1  '11000003'   840    '2'      '-6'     '8'   '99998'   581.103231  '03'
2  '11000005'    -6    '1'      '-6'    '-6'   '99998'  7335.965001  '02'
3  '11000006'    -6    '1'      '-6'    '-6'   '99998'  6562.865941  '02'
4  '11000008'   800    '2'      '-6'     '8'   '99998'  1490.800600  '06'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0      -6         -6     '-6'     1980         4          0   '-6'    '02'
1    2023          3      '4'     1970         2         -6    '3'    '-6'
2    1995          2      '1'     1970         4         -6   '-6'    '-6'
3    2019          3      '4'     1970         3         -6   '-6'    '-6'
4    2019          1      '4'     1920         1         -6    '3'    '-6'

    HINCP  TOTHCAMT  SRVYEAR
0      -6        -6     2023
1   48000      1093     2023
2  292500       810     2023
3   56000       489     2023
4   36000       845     2023

--- AHS 2021 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000005'    -6    '1'      '-6'    '-6'   '99998'  7686.712735  '02'
1  '11000007'    -6    '1'      '-6'    '-6'   '37980'  1371.137443  '02'
2  '11000009'    -6   '-6'      '-6'    '-6'   '99998'  2014.302083  '02'
3  '11000010'   370    '2'      '-6'     '1'   '99998'   144.581474  '02'
4  '11000013'    -6    '1'      '-6'    '-6'   '37980'   851.045950  '02'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    1995          2      '1'     1970         4         -6   '-6'    '-6'
1    1997          3      '4'     1960         4         -6   '-6'    '-6'
2      -6         -6     '-6'     1970         3         -6   '-6'    '10'
3    1970          2      '1'     1970         3         -6    '1'    '-6'
4    2014          2      '2'     1980         3         -6   '-6'    '-6'

    HINCP  TOTHCAMT  SRVYEAR
0   74030       779     2021
1  147000      2360     2021
2      -6        -6     2021
3    1920       570     2021
4  129000      1082     2021

--- AHS 2019 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'  1279.823730  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  1999.744080  '02'
2  '11000003'    -6   '-6'      '-6'    '-6'   '99998'   509.513515  '04'
3  '11000005'    -6    '1'      '-6'    '-6'   '99998'  6168.628282  '02'
4  '11000008'   680    '2'      '-6'     '1'   '99998'   662.457146  '08'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    2000          3      '1'     2000         3         -6   '-6'    '-6'
1    2005          2      '1'     1970         3         -6   '-6'    '-6'
2      -6         -6     '-6'     1970         2         -9   '-6'    '06'
3    1995          2      '2'     1970         4         -6   '-6'    '-6'
4    2019          1      '3'     1970         1         -6    '3'    '-6'

    HINCP  TOTHCAMT  SRVYEAR
0  257000      1642     2019
1  201000      1049     2019
2      -6        -6     2019
3   66900       671     2019
4   35000       680     2019

--- AHS 2017 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'  1051.093854  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  3311.486289  '03'
2  '11000005'    -6    '1'      '-6'    '-6'   '99998'  3228.128086  '02'
3  '11000006'    -6    '1'      '-6'    '-6'   '99998'  3524.638705  '02'
4  '11000007'    -6    '1'      '-6'    '-6'   '37980'  1070.960448  '02'

   HHMOVE SAMEHHLD  NUMPEOPLE  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0    2000      '1'          3     2000         3         -6   '-6'    '-6'
1    2005      '1'          2     1970         3         -6   '-6'    '-6'
2    1995      '1'          3     1970         4         -6   '-6'    '-6'
3    1990      '2'          2     1980         3         -6   '-6'    '-6'
4    1997      '1'          4     1960         4         -6   '-6'    '-6'

    HINCP  TOTHCAMT  SRVYEAR
0  137500      1457     2017
1  231000      1900     2017
2  104800       876     2017
3   58700       517     2017
4  219700      1640     2017

--- AHS 2015 ---
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000001'    -6    '1'      '-6'    '-6'   '37980'   956.422496  '02'
1  '11000002'    -6    '1'      '-6'    '-6'   '99998'  2831.881478  '02'
2  '11000003'   500    '2'      '-6'     '4'   '99998'   317.056765  '03'
3  '11000005'    -6    '1'      '-6'    '-6'   '99998'  3424.378737  '02'
4  '11000006'    -6    '3'      '-6'     '8'   '99998'  3290.308321  '02'

   HHMOVE  NUMPEOPLE  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY   HINCP  \
0    2000          3     2000         3         -6   '-6'    '-6'  113000
1    2005          2     2000         3         -6   '-6'    '-6'   29000
2    2014          3     1970         2         -6    '2'    '-6'   45000
3    1995          3     1970         4         -6   '-6'    '-6'   69900
4    2015          3     1980         3         -6    '3'    '-6'   49200

   TOTHCAMT  SRVYEAR
0      1440     2015
1      1354     2015
2       644     2015
3       672     2015
4       320     2015

In [7]:
#checking the average of the `WEIGHT` variables. Each year should average ~2,000
avg23 = np.average(df_23['WEIGHT'])
print(avg23)

2610.8720472795485

### Concatenating the 2015, 2017, 2019, 2021, and 2023 AHS PUFs to produce a **long-format panel dataset**.
This will allow:
- **Track units over time** --> This requires **multiple rows per unit** (i.e., one row per unit * per year).
- **Identify the same unit** --> This is already possible with the `CONTROL` variable.
- **Compare status across years** (e.g., 2015 vs. 2023) --> This is easiest when **filtering by year** can be cleanly, which is what the `SRVYEAR` column enables.

In [8]:
#Stack all years into a single long-form DataFrame
ahs_long_df = pd.concat(dfs_by_year.values(), ignore_index=True)

In [9]:
#Inspecting the shape and preview the concatenated DataFrames
print(ahs_long_df.shape)
print(ahs_long_df.info())
print(ahs_long_df.head())
print(ahs_long_df['SRVYEAR'].value_counts())

(319240, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 319240 entries, 0 to 319239
Data columns (total 19 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   CONTROL    319240 non-null  object
 1   RENT       319240 non-null  int64
 2   TENURE     319240 non-null  object
 3   RENTCNTRL  319240 non-null  object
 4   RENTSUB    319240 non-null  object
 5   OMB13CBSA  319240 non-null  object
 6   WEIGHT     319240 non-null  float64
 7   BLD        319240 non-null  object
 8   HHMOVE     319240 non-null  int64
 9   NUMPEOPLE  319240 non-null  int64
 10  SAMEHHLD   249747 non-null  object
 11  YRBUILT    319240 non-null  int64
 12  BEDROOMS   319240 non-null  int64
 13  VACMONTHS  319240 non-null  int64
 14  HUDSUB     319240 non-null  object
 15  VACANCY    319240 non-null  object
 16  HINCP      319240 non-null  int64
 17  TOTHCAMT   319240 non-null  int64
 18  SRVYEAR    319240 non-null  int64
dtypes: float64(1), int64(9), object(9)
memory usage: 46.3+ MB
None
      CONTROL  RENT TENURE RENTCNTRL RENTSUB OMB13CBSA       WEIGHT   BLD  \
0  '11000002'  1600   '-6'      '-6'     '8'   '99998'   813.890194  '03'
1  '11000003'   840    '2'      '-6'     '8'   '99998'   581.103231  '03'
2  '11000005'    -6    '1'      '-6'    '-6'   '99998'  7335.965001  '02'
3  '11000006'    -6    '1'      '-6'    '-6'   '99998'  6562.865941  '02'
4  '11000008'   800    '2'      '-6'     '8'   '99998'  1490.800600  '06'

   HHMOVE  NUMPEOPLE SAMEHHLD  YRBUILT  BEDROOMS  VACMONTHS HUDSUB VACANCY  \
0      -6         -6     '-6'     1980         4          0   '-6'    '02'
1    2023          3      '4'     1970         2         -6    '3'    '-6'
2    1995          2      '1'     1970         4         -6   '-6'    '-6'
3    2019          3      '4'     1970         3         -6   '-6'    '-6'
4    2019          1      '4'     1920         1         -6    '3'    '-6'

    HINCP  TOTHCAMT  SRVYEAR
0      -6        -6     2023
1   48000      1093     2023
2  292500       810     2023
3   56000       489     2023
4   36000       845     2023
SRVYEAR
2015    69493
2017    66752
2021    64141
2019    63185
2023    55669
Name: count, dtype: int64

In [10]:
#Checking for unique unit-year combinations, the lines of code should produce the same output
print(len(ahs_long_df))
print(ahs_long_df[['CONTROL', 'SRVYEAR']].drop_duplicates().shape[0])

319240
319240

In [11]:
#Ensuring no columns were dropped
print(ahs_long_df.columns)

Index(['CONTROL', 'RENT', 'TENURE', 'RENTCNTRL', 'RENTSUB', 'OMB13CBSA',
       'WEIGHT', 'BLD', 'HHMOVE', 'NUMPEOPLE', 'SAMEHHLD', 'YRBUILT',
       'BEDROOMS', 'VACMONTHS', 'HUDSUB', 'VACANCY', 'HINCP', 'TOTHCAMT',
       'SRVYEAR'],
      dtype='object')

In [12]:
#Looking for missing or duplicated `CONTROL`-year rows
dupes = ahs_long_df.duplicated(subset=["CONTROL", "SRVYEAR"], keep=False)
print("Duplicated CONTROL + SRVYEAR rows:", dupes.sum())

Duplicated CONTROL + SRVYEAR rows: 0

In [13]:
#Checking counts by year to confirm stacking
ahs_long_df["SRVYEAR"].value_counts().sort_index()

SRVYEAR
2015    69493
2017    66752
2019    63185
2021    64141
2023    55669
Name: count, dtype: int64

##### Stripping the extra quotation marks `''` from the sting values of the entire dataset to make coding a cleaner/easier

In [14]:
ahs_long_df[ahs_long_df.select_dtypes(include='object')
            .columns] = ahs_long_df.select_dtypes(include='object').apply(lambda col: col.str.strip("'"))
ahs_long_df.head()

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,SAMEHHLD,YRBUILT,BEDROOMS,VACMONTHS,HUDSUB,VACANCY,HINCP,TOTHCAMT,SRVYEAR
0,11000002,1600,-6,-6,8,99998,813.890194,03,-6,-6,-6,1980,4,0,-6,02,-6,-6,2023
1,11000003,840,2,-6,8,99998,581.103231,03,2023,3,4,1970,2,-6,3,-6,48000,1093,2023
2,11000005,-6,1,-6,-6,99998,7335.965001,02,1995,2,1,1970,4,-6,-6,-6,292500,810,2023
3,11000006,-6,1,-6,-6,99998,6562.865941,02,2019,3,4,1970,3,-6,-6,-6,56000,489,2023
4,11000008,800,2,-6,8,99998,1490.800600,06,2019,1,4,1920,1,-6,3,-6,36000,845,2023

### Creating new DataFrame to exclude "Units occupied without payment of rent"
- The new `ahs_panel_df` DataFrame will include owner-occupied units (`'1'`), renter--occupied units (`'2'`), and not applicable/vacant units (`'-6'`).

In [15]:
#Examining `TENURE` variable
ahs_long_df['TENURE'].value_counts()

TENURE
1     162666
2     111084
-6     41729
3       3761
Name: count, dtype: int64

The new DataFrame will consist of:
- Owner-occupied housing units (`'1'`): 162,666
- Renter-occupied housing units (`'2'`): 111,084
- Not Applicable (`'-6'`): 41,729 -- _need this for vacant unit analysis_

The new DataFrame will disregard:
- Units occupied w/o payment of rent (`'3'`): 3,761

In [16]:
#Looking at the characteristic of 'HINCP' to see if "N" values exists in the DataFrame or if its just '-6' values
print(ahs_long_df['HINCP'].dtype)
print(ahs_long_df['HINCP'].unique())

#Number of unique values in the df
print(ahs_long_df['HINCP'].nunique())

int64
[    -6  48000 292500 ...    364 327100 111660]
16891

In [17]:
#Looking at the number of renter & owner occupied housing units that have "not applicable" ('-6') values for household income ('HINCP')
ahs_long_df[(ahs_long_df['TENURE'] == '1') | (ahs_long_df['TENURE'] == '2')].groupby('HINCP').size().get(-6,0)

0

In [18]:
ahs_long_df[((ahs_long_df['TENURE'] == '1') | (ahs_long_df['TENURE'] == '2')) & (ahs_long_df['HINCP'] == -6)].shape[0]

0

In [19]:
#Checking any NA/-6 values among renter houhseholds in the df
grouped = ahs_long_df[(ahs_long_df['TENURE'] == '1') | (ahs_long_df['TENURE'] == '2')].groupby('HINCP').size()

#Check if -6 is in the index before using .loc
if -6 in grouped.index:
    count_minus_6 = grouped.loc[-6]
else:
    count_minus_6 = 0

print("Number of owner/renter-occupied housing units with HINCP == -6:", count_minus_6)

Number of owner/renter-occupied housing units with HINCP == -6: 0

All owner/renter observations have a dollar amount within the `'HINCP'` variable.

In [20]:
#Looking at sum of renter/owner-occupied/vacant housing units
rent_own_count = ((ahs_long_df['TENURE'] == '1') | (ahs_long_df['TENURE'] == '2') | (ahs_long_df['TENURE'] == '-6')).sum()
print(rent_own_count)

315479

In [21]:
#New df consisting of owner/renter-occupied + vacant housing units
ahs_panel_df = ahs_long_df[ahs_long_df['TENURE'] != '3']

#Checking if `ahs_panel_df` was filtered correctly
len(ahs_panel_df)

315479

Owner-occupied housing units ('1'): 162,666 + Renter-occupied housing units ('2'): 111,084 + Not Applicable/Vacant ('6'): 41,729 = 315,479

### Examinning the household income `'HINCP'` and number of people in the unit `'NUMPEOPLE'` variables for renter/owner-occupied housing units
- These variables are critical for matching observations in the AHS to the correct Area Median Income (AMI) category based on HUD's Income Limit thresholds.

In [22]:
pd.options.display.float_format = '{:.2f}'.format #changing numeric format to see the dollar amount more clearly

ahs_panel_df.groupby('TENURE')[['HINCP', 'NUMPEOPLE']].describe()

           HINCP                                                            \
           count      mean       std       min      25%      50%       75%
TENURE
-6      41729.00     -6.00      0.00     -6.00    -6.00    -6.00     -6.00
1      162666.00 110403.59 138828.23  -5000.00 40000.00 78000.00 135000.00
2      111084.00  52883.59  77385.25 -10000.00 14100.00 34200.00  68000.00

                  NUMPEOPLE
              max     count  mean  std   min   25%   50%   75%   max
TENURE
-6          -6.00  41729.00 -6.00 0.00 -6.00 -6.00 -6.00 -6.00 -6.00
1      5786000.00 162666.00  2.58 1.43  1.00  2.00  2.00  3.00 18.00
2      6445000.00 111084.00  2.27 1.48  1.00  1.00  2.00  3.00 19.00

In [23]:
#Examining the the oultiers
ahs_panel_df.groupby('TENURE')[['HINCP', 'NUMPEOPLE']].quantile([0, .01, .2,.4,.6,.8,.99])

                HINCP  NUMPEOPLE
TENURE
-6     0.00     -6.00      -6.00
       0.01     -6.00      -6.00
       0.20     -6.00      -6.00
       0.40     -6.00      -6.00
       0.60     -6.00      -6.00
       0.80     -6.00      -6.00
       0.99     -6.00      -6.00
1      0.00  -5000.00       1.00
       0.01      0.00       1.00
       0.20  32300.00       1.00
       0.40  61200.00       2.00
       0.60  97000.00       3.00
       0.80 153000.00       4.00
       0.99 592415.00       7.00
2      0.00 -10000.00       1.00
       0.01      0.00       1.00
       0.20  11400.00       1.00
       0.40  25000.00       1.00
       0.60  45000.00       2.00
       0.80  79800.00       3.00
       0.99 315000.00       7.00

In [24]:
#Looking at the number of renter/owner-occpuied houing units with negative incomes
ahs_panel_df.loc[ahs_panel_df["HINCP"] < 0].groupby('TENURE')[['HINCP', 'NUMPEOPLE']].describe()

          HINCP                                                                \
          count     mean     std       min      25%      50%      75%     max
TENURE
-6     41729.00    -6.00    0.00     -6.00    -6.00    -6.00    -6.00   -6.00
1         10.00 -2592.40 1887.42  -5000.00 -4440.00 -2450.00 -1175.00   -4.00
2          5.00 -5160.00 3260.06 -10000.00 -5000.00 -5000.00 -5000.00 -800.00

       NUMPEOPLE
           count  mean  std   min   25%   50%   75%   max
TENURE
-6      41729.00 -6.00 0.00 -6.00 -6.00 -6.00 -6.00 -6.00
1          10.00  2.90 3.63  1.00  1.00  2.00  2.75 13.00
2           5.00  1.80 1.10  1.00  1.00  1.00  3.00  3.00

In [25]:
ahs_panel_df.loc[ahs_panel_df["HINCP"] < 0, 'TENURE'].value_counts()

TENURE
-6    41729
1        10
2         5
Name: count, dtype: int64

There are 15 observations in the sample that have negative values for `'HINCP'`. These observations will not be removed from the DataFrame since it is possible (or at least, for the American Community Survey it is, that these observations are meaningful if a renter/owner household moves into a unit with no income. Plus, the AHS tracks _**housing units**_(`'CONTROL'`), not households.   

In addition, housing unit occupants are catagorized by Area Median Income (AMI) later in this data preparation notebook, these observations would be catagorized as Extremely Low-Income with no major effect to the data and the panel dataset will have less "gaps" in observations.

## Loading in Income Limits to catagorize housing units by Area Median Income (AMI) defined by the U.S. Department of Housing and Urban Development (HUD) Income Limits

Accessing 2017, 2019, 2021, and 2023 Income Limit data via the API Function from HUD USER (https://www.huduser.gov/portal/dataset/fmr-api.h) and will merge the newly created `staked_il_df` on the CBSA code (`'OMB13CBSA'`) variable to the AHS data and then create a new `'AMI'` categorical variable with the following values:
- Above LI: Above Low-Income
    - Households above the low-income thresholds of 80% Area Median Income (AMI).
    - Households above 80% AMI are not elibigle for federal rental subsidies in most cases.
- LI: Low-Income
    - Renter households with incomes at or below 80% AMI.
- VLI: Very Low-Income
    - Renter Households with incomes at or below 50% AMI.
- ELI: Extremely Low-Income
    - Renter Households with incomes at or below 30% AMI

**NOTE:** HUD _**does not**_ support API requests for years prior to 2017. I will need to download the FY2015 from HUDUSER, isolate the corresponding CBSA/Metro Area, and merge that into the API-requested DataFrame.

A stacked DataFrame will be created with a new column `'il_fiscal_year'` to merge the stacked income limits DataFrame with the longitudinal AHS data to match an household's `'HINCP'` (household income) with the corresponding `'AMI'` category based on the income limits of that fiscal year,

The AHS National PUF only surveys the top 15 largest metropolitan areas. Due to this limitation, the following code will load in HUD's Income Limits data for the following metropolitan areas. AHS observations that are not located within the top 15 largest metropolitan areas (`'99998'` - All other metroplitan areas not in Top 15, and `'99999'` - Not in a metropolitan area) will not have corresponding income limit data once the two datasets are merged amd will be omitted from AMI classification.
- Atlanta-Sandy Springs-Roswell, GA (12060)
- Chicago-Naperville-Elgin, IL-IN-WI (16980)
- Dallas-Fort Worth-Arlington, TX (19100)
- Detroit-Warren-Dearborn, MI (19820)
- Houston-The Woodlands-Sugar Land, TX (26420)
- Philadelphia-Camden-Wilmington, PA-NJ-DE-MD (37980)
- Phoenix-Mesa-Scottsdale, AZ (38060)
- Riverside-San Bernardino-Ontario, CA (40140)
- Washington-Arlington-Alexandria, DC-VA-MD (47900)

**Note:** HUD uses a different geographical definition (`'hud_area_code'`) to establish Income Limits for the metropolitan areas below. HUD Income Limts use "HUD Metro FMR Area" which are different than the AHS geographical definition (`'OMB13CBSA'`) for that area. For the purposes of this analysis, the "central" county of the HUD Metro FMR Area within the AHS defined metropolitan area will be used for the purposes of assigning an AMI catagory for an observation. For example, the AHS-defined "Miami-Fort Lauderdale-West Palm Beach, FL" metropolitan area will use the "Miami-Miami Beach-Kendall, FL HUD Metro FMR Area" since Miami-Dade county uses that FMR area; even though Fort Lauderdale and West Palm Beach are part of the AHS-defined metropolitan area but have different income thresholds for the purpose of establishing HUD Income Limts.
- Boston-Cambridge-Quincy, MA-NH (14460) - Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area (Suffolk County)
- Miami-Fort Lauderdale-West Palm Beach, FL (33100) - Miami-Miami Beach-Kendall, FL HUD Metro FMR Area (Miami-Dade County)
- Los Angeles-Long Beach-Anaheim, CA (31080) - Los Angeles-Long Beach-Glendale, CA HUD Metro FMR Area (Los Angeles County)
- New York-Newark-Jersey City, NY-NJ-PA (35620) - New York, NY HUD Metro FMR Area (New York County)
- San Francisco-Oakland-Hayward, CA (41860) - San Francisco, CA HUD Metro FMR Area (San Francisco County)
- Seattle-Tacoma-Bellevue, WA (42660) - Seattle-Bellevue, WA HUD Metro FMR Area (King County)

In [26]:
#API key
API_KEY = 'API_KEY'

#Identifying metro area
cbsa_codes = [
    'METRO12060M12060', #ATL
    'METRO14460MM1120', #BOS
    'METRO16980M16980', #CHI
    'METRO19100M19100', #DAL
    'METRO19820M19820', #DET
    'METRO26420M26420', #HOU
    'METRO31080MM4480', #LA
    'METRO33100MM5000', #MIA
    'METRO35620MM5600', #NYC
    'METRO37980M37980', #PHI
    'METRO38060M38060', #PHX
    'METRO40140M40140', #RIVERSIDE, CA
    'METRO41860MM7360', #SF
    'METRO42660MM7600', #SEA
    'METRO47900M47900'  #DC
]

#Identifying years for the staked DataFrame
years = [2017, 2019, 2021, 2023] 

#Initialize both dictionaries & storage
metro_dict = {}  
year_dict = {}   
all_rows = []

#API request & loop through CBSA and year
for cbsa_code in cbsa_codes:
    for year in years:
        url = f'https://www.huduser.gov/hudapi/public/il/data/{cbsa_code}?year={year}'
        headers = {'Authorization': f'Bearer {API_KEY}'}
        response = requests.get(url, headers=headers)
    
        json_data = response.json()
        data = json_data.get('data',{})
        
        #Structuring the json into a panda dataframe that is reflective of the excel file avaialbe on the web
        #Parse row
        row = {
            'hud_area_code': cbsa_code,
            'hud_area_name': data.get('area_name'),
            'il_fiscal_year': data.get('year'),
            'median_income': data.get('median_income')
        }
        
        #Add l50 (Very Low), ELI (Exrememly Low), l80 (Low)
        for i in range(1, 9):
            row[f'l50_{i}'] = data.get('very_low', {}).get(f'il50_p{i}')
            row[f'ELI_{i}'] = data.get('extremely_low', {}).get(f'il30_p{i}')
            row[f'l80_{i}'] = data.get('low', {}).get(f'il80_p{i}')
            
        #Add dictionaries
        metro_dict.setdefault(cbsa_code, []).append(row)
        year_dict.setdefault(int(data.get('year')), []).append(row)
        
        #Adding to masterlist
        all_rows.append(row)
        
#Creating the final Dataframe for income limits from 2017-2023 for the target metro areas
metro_staked_il_df = pd.DataFrame(all_rows)
metro_staked_il_df

,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,ELI_1,l80_1,l50_2,ELI_2,l80_2,...,l80_5,l50_6,ELI_6,l80_6,l50_7,ELI_7,l80_7,l50_8,ELI_8,l80_8
0,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2017,69700,24400,14650,39050,27900,16750,44600,...,60250,40450,32960,64700,43250,37140,69150,46050,41320,73600
1,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2019,79700,27900,16750,44650,31900,19150,51000,...,68850,46250,34590,73950,49450,39010,79050,52650,43430,84150
2,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2021,86200,30200,18100,48300,34500,20700,55200,...,74500,50000,35580,80000,53450,40120,85500,56900,44660,91050
3,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2023,103500,35750,21500,57200,40850,24550,65350,...,88200,59250,40280,94750,63350,45420,101250,67400,50560,107800
4,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2017,103400,36200,21700,54750,41400,24800,62550,...,84450,60000,36000,90700,64150,38450,96950,68250,41320,103200
5,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2019,113300,41500,24900,62450,47400,28450,71400,...,96350,68750,41250,103500,73500,44100,110650,78250,46950,117750
6,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2021,120800,47000,28200,70750,53700,32200,80850,...,109150,77850,46700,117250,83250,49950,125350,88600,53150,133400
7,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2023,149300,51950,31150,82950,59400,35600,94800,...,127950,86100,51650,137450,92050,55200,146900,97950,58750,156400
8,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2017,79000,27650,16600,44250,31600,19000,50600,...,68300,45850,32960,73350,49000,37140,78400,52150,41320,83450
9,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2019,89100,31200,18750,49950,35650,21400,57050,...,77050,51700,34590,82750,55250,39010,88450,58850,43430,94150
10,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2021,93200,32650,19600,52200,37300,22400,59650,...,80550,54100,35580,86500,57800,40120,92450,61550,44660,98450
11,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2023,112300,38650,23200,61800,44150,26500,70600,...,95350,64000,40280,102400,68400,45420,109450,72800,50560,116500
12,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2017,73400,25700,15400,41100,29400,17600,47000,...,63400,42600,32960,68100,45550,37140,72800,48450,41320,77500
13,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2019,83100,29100,17500,46550,33250,20000,53200,...,71850,48200,34590,77150,51550,39010,82500,54850,43430,87800
14,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2021,89000,31150,18700,49850,35600,21400,57000,...,76900,51650,35580,82600,55200,40120,88300,58750,44660,94000
15,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2023,105600,36100,21700,57750,41250,24800,66000,...,89100,59800,40280,95700,63950,45420,102300,68050,50560,108900
16,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2017,68600,24050,14450,38450,27450,16500,43950,...,59300,39800,32960,63700,42550,37140,68100,45300,41320,72500
17,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2019,76300,26750,16050,42750,30550,18350,48850,...,65950,44300,34590,70850,47350,39010,75750,50400,43430,80600
18,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2021,80000,28000,16800,44800,32000,19200,51200,...,69150,46400,35580,74250,49600,40120,79400,52800,44660,84500
19,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2023,94700,33150,19900,53050,37900,22750,60600,...,81850,54950,40280,87900,58750,45420,93950,62550,50560,100000
20,METRO26420M26420,"Houston-The Woodlands-Sugar Land, TX HUD Metro...",2017,71500,25050,15050,40050,28600,17200,45800,...,61800,41500,32960,66400,44350,37140,70950,47200,41320,75550
21,METRO26420M26420,"Houston-The Woodlands-Sugar Land, TX HUD Metro...",2019,76300,26750,16050,42750,30550,18350,48850,...,65950,44300,34590,70850,47350,39010,75750,50400,43430,80600
22,METRO26420M26420,"Houston-The Woodlands-Sugar Land, TX HUD Metro...",2021,79200,27750,16650,44350,31700,19000,50700,...,68450,45950,35580,73500,49150,40120,78600,52300,44660,83650
23,METRO26420M26420,"Houston-The Woodlands-Sugar Land, TX HUD Metro...",2023,93200,32650,19600,52200,37300,22400,59650,...,80550,54100,40280,86500,57800,45420,92450,61550,50560,98450
24,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2017,64300,31550,18950,50500,36050,21650,57700,...,77900,52300,32960,83650,55900,37140,89450,59500,41320,95200
25,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2019,73100,36550,21950,58450,41800,25050,66800,...,90200,60600,36350,96900,64750,39010,103550,68950,43430,110250
26,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2021,80000,41400,24850,66250,47300,28400,75700,...,102200,68600,41150,109750,73300,44000,117350,78050,46800,124900
27,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2023,98200,44150,26500,70650,50450,30300,80750,...,109000,73150,43950,117050,78200,46950,125150,83250,50560,133200
28,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2017,51800,26450,15900,42300,30200,18150,48350,...,65250,43800,32960,70100,46850,37140,74900,49850,41320,79750
29,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2019,54900,29650,17800,47450,33900,20350,54200,...,73200,49150,34590,78600,52550,39010,84050,55950,43430,89450
30,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2021,61000,31650,19000,50650,36200,21700,57850,...,78100,52450,35580,83900,56050,40120,89700,59700,44660,95450
31,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2023,74700,36150,21700,57800,41300,24800,66050,...,89200,59900,40280,95800,64000,45420,102400,68150,50560,109000
32,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2017,66200,33400,20050,53450,38200,22900,61050,...,82450,55350,33200,88550,59150,37140,94650,63000,41320,100750
33,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2019,75500,37350,22400,59750,42700,25600,68300,...,92200,61900,37150,99050,66200,39700,105850,70450,43430,112700
34,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2021,81700,41800,25100,66850,47750,28650,76400,...,103100,69200,41550,110750,74000,44400,118400,78750,47300,126000
35,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2023,94400,49450,29650,79200,56500,33900,90500,...,122150,81900,49150,131200,87550,52550,140250,93200,55950,149300
36,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",2017,83200,29150,17500,46600,33300,20000,53250,...,71900,48300,32960,77200,51600,37140,82550,54950,41320,87850
37,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",2019,90100,31550,18950,50500,36050,21650,57700,...,77900,52300,34590,83650,55900,39010,89450,59500,43430,95200
38,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",2021,94500,33100,19850,52950,37800,22700,60500,...,81650,54850,35580,87700,58600,40120,93750,62400,44660,99800
39,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",2023,114400,39100,23450,62500,44650,26800,71400,...,96400,64750,40280,103550,69200,45420,110700,73700,50560,117850
40,METRO38060M38060,"Phoenix-Mesa-Scottsdale, AZ MSA",2017,66200,23200,13900,37100,26500,16240,42400,...,57200,38400,32960,61450,41050,37140,65700,43700,41320,69900
41,METRO38060M38060,"Phoenix-Mesa-Scottsdale, AZ MSA",2019,72900,25550,15300,40850,29200,17500,46650,...,63000,42300,34590,67650,45200,39010,72300,48150,43430,77000
42,METRO38060M38060,"Phoenix-Mesa-Scottsdale, AZ MSA",2021,79000,27650,16600,44250,31600,19000,50600,...,68300,45850,35580,73350,49000,40120,78400,52150,44660,83450
43,METRO38060M38060,"Phoenix-Mesa-Scottsdale, AZ MSA",2023,99000,32750,19650,52400,37400,22450,59850,...,80800,54250,40280,86800,58000,45420,92800,61750,50560,98750
44,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2017,63200,22600,13550,36150,25800,16240,41300,...,55750,37450,32960,59900,40000,37140,64000,42600,41320,68150
45,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2019,69700,25150,15100,40250,28750,17250,46000,...,62050,41650,34590,66650,44550,39010,71250,47400,43430,75850
46,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2021,77500,27650,16600,44250,31600,19000,50600,...,68300,45850,35580,73350,49000,40120,78400,52150,44660,83450
47,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2023,94500,32650,19600,52200,37300,22400,59650,...,80550,54100,40280,86500,57800,45420,92450,61550,50560,98450
48,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2017,115300,46100,27650,73750,52650,31600,84300,...,113800,76350,45850,122250,81600,49000,130650,86900,52150,139100
49,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2019,136800,56450,33850,90450,64500,38700,103350,...,139500,93500,56100,149850,99950,60000,160150,106400,63850,170500
50,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2021,149600,63950,38400,102450,73100,43850,117100,...,158100,106000,63600,169800,113300,68000,181500,120600,72350,193200
51,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2023,175000,65050,39050,104100,74350,44600,118950,...,160550,107800,64700,172450,115200,69150,184350,122650,73600,196250
52,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2017,96000,33600,20200,50400,38400,23050,57600,...,77800,55700,33450,83550,59550,37140,89300,63400,41320,95050
53,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2019,108600,38750,23250,61800,44300,26600,70600,...,95350,64250,38550,102400,68650,41200,109450,73100,43850,116500
54,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2021,115700,40500,24300,63350,46300,27800,72400,...,97750,67150,40300,105000,71750,43050,112250,76400,45850,119500
55,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2023,146500,47950,28800,70650,54800,32900,80750,...,109000,79500,47700,117050,84950,51000,125150,90450,54300,133200
56,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2017,110300,38650,23200,52550,44150,26500,60050,...,81100,64000,38400,87100,68400,41050,93100,72800,43700,99100
57,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2019,121300,42500,25500,54350,48550,29150,62100,...,83850,70400,42250,90050,75250,45150,96250,80100,48050,102450
58,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2021,129000,45150,27100,57650,51600,31000,65850,...,88900,74850,44900,95500,80000,48000,102100,85150,51100,108650
59,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2023,152100,52750,31650,66750,60300,36200,76250,...,102950,87450,52450,110550,93450,56050,118200,99500,59700,125800

In [27]:
#Loading in HUD's 2015 Income Limit Data for target CBSAs

#File path
file_path = 'data/ahs/Section8_Rev.xlsx'

#Using excel rows to identify target CBSAs (1-based indexing)
target_rows_excel = [
    609, #ATL
    2182, #BOS 
    773, #CHI
    3880, #DAL
    2327, #DET
    3924, #HOU
    206, #LA
    525, #MIA
    3123, #NYC
    3561, #PHI
    105, #PHX
    220, #RIVERSIDE, CA
    225, #SF
    4513, #SEA
    482 #DC
]

#Convert to 0-based pandas row indices
target_indices = [i - 1 for i in target_rows_excel]

#Read the file, only desired rows (skip all others)
il_metro_15_df = pd.read_excel(
    file_path,
    header=None,
    skiprows=lambda x: x not in target_indices
)

#Read only the header row separately (row 0) for column names
headers = pd.read_excel(file_path, nrows=0).columns.tolist()

#Assign headers back into DataFrame
il_metro_15_df.columns = headers
il_metro_15_df

,State_Alpha,fips2000,State,County,County_Name,CBSASub,Metro_Area_Name,fips2010,median2015,l50_1,...,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,MSA,county_town_name,state_name,metro
0,AZ,401399999,4,13,Maricopa County,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",401399999,64000,22400,...,46100,51200,55300,59400,63500,67600,6200,Maricopa County,Arizona,1
1,CA,603799999,6,37,Los Angeles County,METRO31100MM4480,"Los Angeles-Long Beach, CA HUD Metro FMR Area",603799999,63000,29050,...,59800,66400,71750,77050,82350,87650,4480,Los Angeles County,California,1
2,CA,606599999,6,65,Riverside County,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",606599999,60500,21750,...,44750,49700,53700,57700,61650,65650,6780,Riverside County,California,1
3,CA,607599999,6,75,San Francisco County,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",607599999,101900,41050,...,84500,93850,101400,108900,116400,123900,7360,San Francisco County,California,1
4,DC,1100199999,11,1,District of Columbia,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",1100199999,109200,38250,...,61200,68000,73450,78900,84350,89800,8840,District of Columbia,District of Columbia,1
5,FL,1208699999,12,86,Miami-Dade County,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",1208699999,49900,23700,...,48750,54150,58500,62850,67150,71500,5000,Miami-Dade County,Florida,1
6,GA,1312199999,13,121,Fulton County,METRO12060M12060,"Atlanta-Sandy Springs-Marietta, GA HUD Metro F...",1312199999,68300,23900,...,49100,54550,58950,63300,67650,72050,520,Fulton County,Georgia,1
7,IL,1703199999,17,31,Cook County,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",1703199999,76000,26600,...,54750,60800,65700,70550,75400,80300,1600,Cook County,Illinois,1
8,MA,2502507000,25,25,Suffolk County,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2502507000,98500,34500,...,62750,69700,75300,80900,86450,92050,1120,Boston city,Massachusetts,1
9,MI,2616399999,26,163,Wayne County,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2616399999,67700,23700,...,48750,54150,58500,62850,67150,71500,2160,Wayne County,Michigan,1
10,NY,3606199999,36,61,New York County,METRO35620MM5600,"New York, NY HUD Metro FMR Area",3606199999,63700,30250,...,62150,69050,74600,80100,85650,91150,5600,New York County,New York,1
11,PA,4210199999,42,101,Philadelphia County,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",4210199999,81100,28400,...,58450,64900,70100,75300,80500,85700,6160,Philadelphia County,Pennsylvania,1
12,TX,4811399999,48,113,Dallas County,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",4811399999,70400,24650,...,50700,56300,60850,65350,69850,74350,1920,Dallas County,Texas,1
13,TX,4820199999,48,201,Harris County,METRO26420M26420,"Houston-Baytown-Sugar Land, TX HUD Metro FMR Area",4820199999,69300,24300,...,49950,55450,59900,64350,68800,73200,3360,Harris County,Texas,1
14,WA,5303399999,53,33,King County,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",5303399999,89600,31400,...,59250,65800,71100,76350,81600,86900,7600,King County,Washington,1

#### Structuring the FY2015 Income Limit DataFrame to match the API-request DataFrame above.

In [28]:
#Dropping columns that are not relevant 
il_metro_15_df.drop(columns=['State_Alpha', 'fips2000', 'State', 'County', 'County_Name', 'fips2010', 'MSA', 'county_town_name',
                           'state_name', 'metro'], inplace=True)

#Adding `year` column
il_metro_15_df['il_fiscal_year'] = 2015

#Replacing the 2015 'hud_area_code' for Los Angeles-Long Beach, CA HUD Metro FMR Area since the CBSA code (31080) is consistent in the AHS but changes in the Income Limits data (2015 = METRO31100MM4480 but '17, '19, '21, '23 = METRO31080MM4480. 
#This will ensure correct merging later in the notebook
il_metro_15_df['CBSASub'] = il_metro_15_df['CBSASub'].replace('METRO31100MM4480', 'METRO31080MM4480')

#Moving `year` to 3rd column (index position 2)
il_metro_15_df = il_metro_15_df[[*il_metro_15_df.columns[:2], 'il_fiscal_year', *il_metro_15_df.columns[2:-1]]]

#Rename columns to match API-requested DataFrame
il_metro_15_df.rename(columns={'CBSASub': 'hud_area_code', 'Metro_Area_Name': 'hud_area_name', 'median2015': 'median_income'}, 
                      inplace=True)
il_metro_15_df

,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,...,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8
0,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",2015,64000,22400,25600,28800,32000,34600,37150,...,36730,40890,35850,41000,46100,51200,55300,59400,63500,67600
1,METRO31080MM4480,"Los Angeles-Long Beach, CA HUD Metro FMR Area",2015,63000,29050,33200,37350,41500,44850,48150,...,36730,40890,46500,53150,59800,66400,71750,77050,82350,87650
2,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2015,60500,21750,24850,27950,31050,33550,36050,...,36730,40890,34800,39800,44750,49700,53700,57700,61650,65650
3,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2015,101900,41050,46900,52750,58600,63300,68000,...,43600,46400,65700,75100,84500,93850,101400,108900,116400,123900
4,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2015,109200,38250,43700,49150,54600,59000,63350,...,40650,43250,47600,54400,61200,68000,73450,78900,84350,89800
5,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2015,49900,23700,27100,30500,33850,36600,39300,...,36730,40890,37950,43350,48750,54150,58500,62850,67150,71500
6,METRO12060M12060,"Atlanta-Sandy Springs-Marietta, GA HUD Metro F...",2015,68300,23900,27300,30700,34100,36850,39600,...,36730,40890,38200,43650,49100,54550,58950,63300,67650,72050
7,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2015,76000,26600,30400,34200,38000,41050,44100,...,36730,40890,42600,48650,54750,60800,65700,70550,75400,80300
8,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2015,98500,34500,39400,44350,49250,53200,57150,...,36730,40890,48800,55800,62750,69700,75300,80900,86450,92050
9,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2015,67700,23700,27100,30500,33850,36600,39300,...,36730,40890,37950,43350,48750,54150,58500,62850,67150,71500
10,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2015,63700,30250,34550,38850,43150,46650,50100,...,36730,40890,48350,55250,62150,69050,74600,80100,85650,91150
11,METRO37980M37980,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA",2015,81100,28400,32450,36500,40550,43800,47050,...,36730,40890,45450,51950,58450,64900,70100,75300,80500,85700
12,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2015,70400,24650,28200,31700,35200,38050,40850,...,36730,40890,39450,45050,50700,56300,60850,65350,69850,74350
13,METRO26420M26420,"Houston-Baytown-Sugar Land, TX HUD Metro FMR Area",2015,69300,24300,27750,31200,34650,37450,40200,...,36730,40890,38850,44400,49950,55450,59900,64350,68800,73200
14,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2015,89600,31400,35850,40350,44800,48400,52000,...,36730,40890,46100,52650,59250,65800,71100,76350,81600,86900

#### Stacking the income limit DataFrames

In [29]:
stacked_il_df = pd.concat([il_metro_15_df, metro_staked_il_df], ignore_index=True)

In [30]:
#Exmaining the DataFrame
stacked_il_df

,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,...,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8
0,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",2015,64000,22400,25600,28800,32000,34600,37150,...,36730,40890,35850,41000,46100,51200,55300,59400,63500,67600
1,METRO31080MM4480,"Los Angeles-Long Beach, CA HUD Metro FMR Area",2015,63000,29050,33200,37350,41500,44850,48150,...,36730,40890,46500,53150,59800,66400,71750,77050,82350,87650
2,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2015,60500,21750,24850,27950,31050,33550,36050,...,36730,40890,34800,39800,44750,49700,53700,57700,61650,65650
3,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2015,101900,41050,46900,52750,58600,63300,68000,...,43600,46400,65700,75100,84500,93850,101400,108900,116400,123900
4,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2015,109200,38250,43700,49150,54600,59000,63350,...,40650,43250,47600,54400,61200,68000,73450,78900,84350,89800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2023,146500,47950,54800,61650,68500,74000,79500,...,51000,54300,70650,80750,90850,100900,109000,117050,125150,133200
71,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2017,110300,38650,44150,49650,55150,59600,64000,...,41050,43700,52550,60050,67550,75050,81100,87100,93100,99100
72,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2019,121300,42500,48550,54600,60650,65550,70400,...,45150,48050,54350,62100,69850,77600,83850,90050,96250,102450
73,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2021,129000,45150,51600,58050,64500,69700,74850,...,48000,51100,57650,65850,74100,82300,88900,95500,102100,108650
74,METRO47900M47900,"Washington-Arlington-Alexandria, DC-VA-MD HUD ...",2023,152100,52750,60300,67850,75350,81400,87450,...,56050,59700,66750,76250,85800,95300,102950,110550,118200,125800

In [31]:
#Inspecting the shape/info of the stacked DataFrame
#Should have 75 rows
print(stacked_il_df.shape)
print(stacked_il_df.info())

(75, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hud_area_code   75 non-null     object
 1   hud_area_name   75 non-null     object
 2   il_fiscal_year  75 non-null     object
 3   median_income   75 non-null     int64
 4   l50_1           75 non-null     int64
 5   l50_2           75 non-null     int64
 6   l50_3           75 non-null     int64
 7   l50_4           75 non-null     int64
 8   l50_5           75 non-null     int64
 9   l50_6           75 non-null     int64
 10  l50_7           75 non-null     int64
 11  l50_8           75 non-null     int64
 12  ELI_1           75 non-null     int64
 13  ELI_2           75 non-null     int64
 14  ELI_3           75 non-null     int64
 15  ELI_4           75 non-null     int64
 16  ELI_5           75 non-null     int64
 17  ELI_6           75 non-null     int64
 18  ELI_7           75 non-null     int64
 19  ELI_8           75 non-null     int64
 20  l80_1           75 non-null     int64
 21  l80_2           75 non-null     int64
 22  l80_3           75 non-null     int64
 23  l80_4           75 non-null     int64
 24  l80_5           75 non-null     int64
 25  l80_6           75 non-null     int64
 26  l80_7           75 non-null     int64
 27  l80_8           75 non-null     int64
dtypes: int64(25), object(3)
memory usage: 16.5+ KB
None

Need to convert `'il_fiscal_year'` to and `int64` but need to make sure there aren't any null/NaN values in the column

In [32]:
#checking NaN values in 'il_fiscal_uear' column
stacked_il_df['il_fiscal_year'].isna().sum()

0

In [33]:
#coverting 'il_fiscal_year' into an integer
stacked_il_df['il_fiscal_year'] = stacked_il_df['il_fiscal_year'].astype(int)

In [34]:
print(stacked_il_df.shape)
print(stacked_il_df.info())

(75, 28)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   hud_area_code   75 non-null     object
 1   hud_area_name   75 non-null     object
 2   il_fiscal_year  75 non-null     int64
 3   median_income   75 non-null     int64
 4   l50_1           75 non-null     int64
 5   l50_2           75 non-null     int64
 6   l50_3           75 non-null     int64
 7   l50_4           75 non-null     int64
 8   l50_5           75 non-null     int64
 9   l50_6           75 non-null     int64
 10  l50_7           75 non-null     int64
 11  l50_8           75 non-null     int64
 12  ELI_1           75 non-null     int64
 13  ELI_2           75 non-null     int64
 14  ELI_3           75 non-null     int64
 15  ELI_4           75 non-null     int64
 16  ELI_5           75 non-null     int64
 17  ELI_6           75 non-null     int64
 18  ELI_7           75 non-null     int64
 19  ELI_8           75 non-null     int64
 20  l80_1           75 non-null     int64
 21  l80_2           75 non-null     int64
 22  l80_3           75 non-null     int64
 23  l80_4           75 non-null     int64
 24  l80_5           75 non-null     int64
 25  l80_6           75 non-null     int64
 26  l80_7           75 non-null     int64
 27  l80_8           75 non-null     int64
dtypes: int64(26), object(2)
memory usage: 16.5+ KB
None

#### Creating new column `'cbsa_code'` that extracts the 5-digit cbsa code from the `'hud_area_code'` so I can merge it to the AHS `metro_ami_panel_df` DataFrame.

In [35]:
stacked_il_df['OMB13CBSA'] = stacked_il_df['hud_area_code'].str.extract(r'(\d{5})')

#Looking at the DataFrame to see if the Column was created correctly
print(stacked_il_df)

       hud_area_code                                      hud_area_name  \
0   METRO38060M38060                      Phoenix-Mesa-Glendale, AZ MSA
1   METRO31080MM4480      Los Angeles-Long Beach, CA HUD Metro FMR Area
2   METRO40140M40140           Riverside-San Bernardino-Ontario, CA MSA
3   METRO41860MM7360               San Francisco, CA HUD Metro FMR Area
4   METRO47900M47900  Washington-Arlington-Alexandria, DC-VA-MD HUD ...
..               ...                                                ...
70  METRO42660MM7600            Seattle-Bellevue, WA HUD Metro FMR Area
71  METRO47900M47900  Washington-Arlington-Alexandria, DC-VA-MD HUD ...
72  METRO47900M47900  Washington-Arlington-Alexandria, DC-VA-MD HUD ...
73  METRO47900M47900  Washington-Arlington-Alexandria, DC-VA-MD HUD ...
74  METRO47900M47900  Washington-Arlington-Alexandria, DC-VA-MD HUD ...

    il_fiscal_year  median_income  l50_1  l50_2  l50_3  l50_4  l50_5  l50_6  \
0             2015          64000  22400  25600  28800  32000  34600  37150
1             2015          63000  29050  33200  37350  41500  44850  48150
2             2015          60500  21750  24850  27950  31050  33550  36050
3             2015         101900  41050  46900  52750  58600  63300  68000
4             2015         109200  38250  43700  49150  54600  59000  63350
..             ...            ...    ...    ...    ...    ...    ...    ...
70            2023         146500  47950  54800  61650  68500  74000  79500
71            2017         110300  38650  44150  49650  55150  59600  64000
72            2019         121300  42500  48550  54600  60650  65550  70400
73            2021         129000  45150  51600  58050  64500  69700  74850
74            2023         152100  52750  60300  67850  75350  81400  87450

    ...  ELI_8  l80_1  l80_2  l80_3   l80_4   l80_5   l80_6   l80_7   l80_8  \
0   ...  40890  35850  41000  46100   51200   55300   59400   63500   67600
1   ...  40890  46500  53150  59800   66400   71750   77050   82350   87650
2   ...  40890  34800  39800  44750   49700   53700   57700   61650   65650
3   ...  46400  65700  75100  84500   93850  101400  108900  116400  123900
4   ...  43250  47600  54400  61200   68000   73450   78900   84350   89800
..  ...    ...    ...    ...    ...     ...     ...     ...     ...     ...
70  ...  54300  70650  80750  90850  100900  109000  117050  125150  133200
71  ...  43700  52550  60050  67550   75050   81100   87100   93100   99100
72  ...  48050  54350  62100  69850   77600   83850   90050   96250  102450
73  ...  51100  57650  65850  74100   82300   88900   95500  102100  108650
74  ...  59700  66750  76250  85800   95300  102950  110550  118200  125800

    OMB13CBSA
0       38060
1       31080
2       40140
3       41860
4       47900
..        ...
70      42660
71      47900
72      47900
73      47900
74      47900

[75 rows x 29 columns]

In [36]:
stacked_il_df['OMB13CBSA'].dtype

dtype('O')

#### Merging the AHS and IL datasets so new `'AMI'` variable can be computed and renter households can be catagorized by AMI based on the household income (`'HINCP'`).

In [37]:
#Merging AHS and IL DataFrames
metro_ami_panel_df = pd.merge(
    ahs_panel_df,
    stacked_il_df,
    left_on=['OMB13CBSA', 'SRVYEAR'],
    right_on=['OMB13CBSA', 'il_fiscal_year'],
    how='left',  #use left since I only want records from AHS
    indicator=True
)

### Validating that the join worked correctly
1. Checking `_merge` column to see whether each row came from the left, right, or both DataFrames. All or most values should be `both`.
2. Check for `NaN` values in a colum that should always be present if the merge worked. A result near `0.0` means that all values are present.
3. Cross-tabulate year values to spot mismatches
4. Inspect unmatched rows - look at examples of merge failures

In [38]:
#Checking `_merge` column
metro_ami_panel_df['_merge'].value_counts()

_merge
both          173009
left_only     142470
right_only         0
Name: count, dtype: int64

This equals 315,479, same length as the `ahs_panel_df`.

In [39]:
#Checking `NaN` values
metro_ami_panel_df['median_income'].isna().mean()

0.4515989970806298

In [40]:
#Cross-tab year values to spot mismatches
pd.crosstab(metro_ami_panel_df['SRVYEAR'], metro_ami_panel_df['_merge'])

_merge   left_only   both
SRVYEAR
2015         31135  37415
2017         29547  36434
2019         27281  35164
2021         29137  34297
2023         25370  29699

In [41]:
#Inspecting some of the unmatched rows
metro_ami_panel_df[metro_ami_panel_df['_merge'] != 'both'].head(25)

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,...,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,_merge
0,11000002,1600,-6,-6,8,99998,813.89,03,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
1,11000003,840,2,-6,8,99998,581.10,03,2023,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
2,11000005,-6,1,-6,-6,99998,7335.97,02,1995,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
3,11000006,-6,1,-6,-6,99998,6562.87,02,2019,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
4,11000008,800,2,-6,8,99998,1490.80,06,2019,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
5,11000009,-6,-6,-6,-6,99998,2210.13,02,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
6,11000010,1400,2,-6,1,99998,234.19,02,2020,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
10,11000019,1200,2,-6,1,99998,710.49,09,2022,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
11,11000021,3000,2,-6,8,99998,5647.69,04,2018,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
12,11000025,250,2,-6,1,99998,609.41,06,2018,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
13,11000028,0,-6,-6,1,99998,412.45,05,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
14,11000030,950,-6,-6,8,99998,4221.44,03,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
17,11000035,340,2,-6,1,99998,579.87,07,2016,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
18,11000039,950,-6,-6,-9,99998,575.02,03,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
19,11000040,1200,-6,-6,8,99998,373.78,04,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
20,11000049,-6,-6,-6,-6,99999,2172.87,01,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
21,11000053,-6,1,-6,-6,99998,7335.97,02,2013,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
23,11000055,-6,1,-6,-6,99998,5515.22,02,2002,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
24,11000057,-6,-6,-6,-6,99998,2210.13,02,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
25,11000061,870,2,-6,5,99998,7891.15,04,2022,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
26,11000066,330,-6,-6,1,99998,2210.13,01,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
27,11000068,-6,1,-6,-6,99999,5145.17,02,2002,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
28,11000069,2700,2,-6,8,99998,5647.69,04,2019,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
29,11000071,950,2,-6,8,99998,709.90,05,2022,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only
30,11000073,-6,1,-6,-6,99998,7335.97,02,1989,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,left_only

In [42]:
#checking NaN values in 'OMB13CBSA' column
# Count NaN values for each selected column within each OMB13CBSA group
nan_counts_by_cbsa = (
    metro_ami_panel_df
    .groupby('OMB13CBSA')[[
        'hud_area_code', 'hud_area_name', 'il_fiscal_year', 'median_income',
        'l50_1', 'l50_2', 'l50_3', 'l50_4', 'l50_5', 'l50_6', 'l50_7', 'l50_8',
        'ELI_1', 'ELI_2', 'ELI_3', 'ELI_4', 'ELI_5', 'ELI_6', 'ELI_7', 'ELI_8',
        'l80_1', 'l80_2', 'l80_3', 'l80_4', 'l80_5', 'l80_6', 'l80_7', 'l80_8'
    ]]
    .apply(lambda df: df.isna().sum())
)

# View the result
with pd.option_context('display.max_columns', None):
    display(nan_counts_by_cbsa)

,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,l50_7,l50_8,ELI_1,ELI_2,ELI_3,ELI_4,ELI_5,ELI_6,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8
OMB13CBSA,,,,,,,,,,,,,,,,,,,,,,,,,,,,
12060,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
14460,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
16980,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
19820,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
26420,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
31080,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
33100,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
35620,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37980,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
38060,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
40140,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
41860,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
42660,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
47900,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
99998,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821,110821
99999,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649,31649

### Checking a random group of owner/renter-occupied housing units in the top 15 largest metropolitan areas to see if merge worked correctly

In [43]:
cbsa_values = [
    '12060', '14460', '16980', '19100', '19820',
    '26420', '31080', '33100', '35620', '37980',
    '38060', '40140', '41860', '42660', '47900'
]

# Filter your dataframe to include only the specified CBSAs
filtered_df = metro_ami_panel_df[metro_ami_panel_df['OMB13CBSA'].isin(cbsa_values)]

# Randomly sample 25 rows from the filtered dataframe
sample_df = filtered_df.sample(n=25, random_state=4)

# Display or work with the result
with pd.option_context('display.max_columns', None):
    display(sample_df)

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,SAMEHHLD,YRBUILT,BEDROOMS,VACMONTHS,HUDSUB,VACANCY,HINCP,TOTHCAMT,SRVYEAR,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,l50_7,l50_8,ELI_1,ELI_2,ELI_3,ELI_4,ELI_5,ELI_6,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,_merge
29428,11053729,800,2,1,2,35620,576.98,09,2014,3,3,1950,3,-6,2,-6,49980,880,2023,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2023.00,94400.00,49450.00,56500.00,63550.00,70600.00,76250.00,81900.00,87550.00,93200.00,29650.00,33900.00,38150.00,42350.00,45750.00,49150.00,52550.00,55950.00,79200.00,90500.00,101800.00,113100.00,122150.00,131200.00,140250.00,149300.00,both
106346,11079367,-6,-6,-6,-6,16980,1225.66,02,-6,-6,-6,1940,2,25,-6,07,-6,-6,2021,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2021.00,93200.00,32650.00,37300.00,41950.00,46600.00,50350.00,54100.00,57800.00,61550.00,19600.00,22400.00,25200.00,27950.00,31040.00,35580.00,40120.00,44660.00,52200.00,59650.00,67100.00,74550.00,80550.00,86500.00,92450.00,98450.00,both
268014,11026479,1200,-6,-6,8,33100,848.15,09,-6,-6,NaN,2000,2,2,-6,01,-6,-6,2015,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2015.00,49900.00,23700.00,27100.00,30500.00,33850.00,36600.00,39300.00,42000.00,44700.00,14250.00,16250.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,37950.00,43350.00,48750.00,54150.00,58500.00,62850.00,67150.00,71500.00,both
282537,11044598,2000,-6,2,8,31080,1486.76,07,-6,-6,NaN,1930,1,-6,-6,01,-6,-6,2015,METRO31080MM4480,"Los Angeles-Long Beach, CA HUD Metro FMR Area",2015.00,63000.00,29050.00,33200.00,37350.00,41500.00,44850.00,48150.00,51500.00,54800.00,17450.00,19950.00,22450.00,24900.00,28410.00,32570.00,36730.00,40890.00,46500.00,53150.00,59800.00,66400.00,71750.00,77050.00,82350.00,87650.00,both
48762,11088617,-6,1,-6,-6,40140,1071.99,02,2018,3,1,2018,4,-6,-6,-6,87000,3678,2023,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2023.00,94500.00,32650.00,37300.00,41950.00,46600.00,50350.00,54100.00,57800.00,61550.00,19600.00,22400.00,25200.00,30000.00,35140.00,40280.00,45420.00,50560.00,52200.00,59650.00,67100.00,74550.00,80550.00,86500.00,92450.00,98450.00,both
247739,11001037,2700,2,2,8,41860,705.18,07,2012,1,NaN,2000,2,-6,3,-6,65000,2921,2015,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2015.00,101900.00,41050.00,46900.00,52750.00,58600.00,63300.00,68000.00,72700.00,77400.00,24650.00,28150.00,31650.00,35150.00,38000.00,40800.00,43600.00,46400.00,65700.00,75100.00,84500.00,93850.00,101400.00,108900.00,116400.00,123900.00,both
106608,11079774,2400,2,2,8,41860,791.67,05,2008,4,2,1940,2,-6,3,-6,126000,2590,2021,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2021.00,149600.00,63950.00,73100.00,82250.00,91350.00,98700.00,106000.00,113300.00,120600.00,38400.00,43850.00,49350.00,54800.00,59200.00,63600.00,68000.00,72350.00,102450.00,117100.00,131750.00,146350.00,158100.00,169800.00,181500.00,193200.00,both
157566,11056577,-6,1,-6,-6,42660,633.94,02,1977,1,4,1970,5,-6,-6,-6,128400,1188,2019,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2019.00,108600.00,38750.00,44300.00,49850.00,55350.00,59800.00,64250.00,68650.00,73100.00,23250.00,26600.00,29900.00,33200.00,35900.00,38550.00,41200.00,43850.00,61800.00,70600.00,79450.00,88250.00,95350.00,102400.00,109450.00,116500.00,both
35349,11064142,3000,-6,2,8,35620,2920.11,09,-6,-6,-6,1960,1,-6,-6,02,-6,-6,2023,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2023.00,94400.00,49450.00,56500.00,63550.00,70600.00,76250.00,81900.00,87550.00,93200.00,29650.00,33900.00,38150.00,42350.00,45750.00,49150.00,52550.00,55950.00,79200.00,90500.00,101800.00,113100.00,122150.00,131200.00,140250.00,149300.00,both
37851,11068792,1100,2,-6,8,40140,958.16,05,2019,2,1,1930,1,-6,3,-6,23600,1240,2023,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2023.00,94500.00,32650.00,37300.00,41950.00,46600.00,50350.00,54100.00,57800.00,61550.00,19600.00,22400.00,25200.00,30000.00,35140.00,40280.00,45420.00,50560.00,52200.00,59650.00,67100.00,74550.00,80550.00,86500.00,92450.00,98450.00,both
76047,11033162,-6,1,-6,-6,14460,1584.35,04,2011,1,4,1919,2,-6,-6,-6,50000,734,2021,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2021.00,120800.00,47000.00,53700.00,60400.00,67100.00,72500.00,77850.00,83250.00,88600.00,28200.00,32200.00,36250.00,40250.00,43500.00,46700.00,49950.00,53150.00,70750.00,80850.00,90950.00,101050.00,109150.00,117250.00,125350.00,133400.00,both
19737,11036050,-6,1,-6,-6,42660,708.64,01,2013,2,1,1990,3,-6,-6,-6,63000,1828,2023,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2023.00,146500.00,47950.00,54800.00,61650.00,68500.00,74000.00,79500.00,84950.00,90450.00,28800.00,32900.00,37000.00,41100.00,44400.00,47700.00,51000.00,54300.00,70650.00,80750.00,90850.00,100900.00,109000.00,117050.00,125150.00,133200.00,both
274560,11034746,-6,1,-6,-6,14460,996.98,02,2014,2,NaN,1920,4,-6,-6,-6,144000,1389,2015,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2015.00,98500.00,34500.00,39400.00,44350.00,49250.00,53200.00,57150.00,61100.00,65050.00,20700.00,23650.00,26600.00,29550.00,31950.00,34300.00,36730.00,40890.00,48800.00,55800.00,62750.00,69700.00,75300.00,80900.00,86450.00,92050.00,both
165755,11067798,-6,-6,-6,-6,35620,2564.48,09,-6,-6,-6,1960,3,-6,-6,06,-6,-6,2019,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2019.00,75500.00,37350.00,42700.00,48050.00,53350.00,57650.00,61900.00,66200.00,70450.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,43430.00,59750.00,68300.00,76850.00,85350.00,92200.00,99050.00,105850.00,112700.00,both
254302,11009301,450,2,-6,8,26420,987.83,07,2011,3,NaN,1980,1,-6,3,-6,35500,591,2015,METRO26420M26420,"Houston-Baytown-Sugar Land, TX HUD Metro FMR Area",2015.00,69300.00,24300.00,27750.00,31200.00,34650.00,37450.00,40200.00,43000.00,45750.00,14600.00,16650.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,38850.00,44400.00,49950.00,55450.00,59900.00,64350.00,68800.00,73200.00,both
264059,11021514,-6,1,-6,-6,38060,798.93,02,2001,2,NaN,1990,4,-6,-6,-6,100000,2197,2015,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",2015.00,64000.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,42250.00,13450.00,15930.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,35850.00,41000.00,46100.00,51200.00,55300.00,59400.00,63500.00,67600.00,both
159009,11058573,-6,1,-6,-6,16980,1274.45,02,2017,2,1,1950,3,-6,-6,-6,75000,1066,2019,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2019.00,89100.00,31200.00,35650.00,40100.00,44550.00,48150.00,51700.00,55250.00,58850.00,18750.00,21400.00,24100.00,26750.00,30170.00,34590.00,39010.00,43430.00,49950.00,57050.00,64200.00,71300.00,77050.00,82750.00,88450.00,94150.00,both
79333,11038164,-6,1,-6,-6,16980,2979.73,02,2013,3,1,1919,2,-6,-6,-6,28000,1156,2021,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2021.00,93200.00,32650.00,37300.00,41950.00,46600.00,50350.00,54100.00,57800.00,61550.00,19600.00,22400.00,25200.00,27950.00,31040.00,35580.00,40120.00,44660.00,52200.00,59650.00,67100.00,74550.00,80550.00,86500.00,92450.00,98450.00,both
92094,11057990,-6,1,-6,-6,35620,3667.50,02,1978,2,1,1950,4,-6,-6,-6,115200,1757,2021,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2021.00,81700.00,41800.00,47750.00,53700.00,59650.00,64450.00,69200.00,74000.00,78750.00,25100.00,28650.00,32250.00,35800.00,38700.00,41550.00,44400.00,47300.00,66850.00,76400.00,85950.00,95450.00,103100.00,110750.00,118400.00,126000.00,both
161205,11061567,740,2,-6,8,19820,849.66,02,2014,3,4,1940,4,-6,3,-6,59300,1054,2019,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2019.00,76300.00,26750.00,30550.00,34350.00,38150.00,41250.00,44300.00,47350.00,50400.00,16050.00,18350.00,21330.00,25750.00,30170.00,34590.00,39010.00,43430.00,42750.00,48850.00,54950.00,61050.00,65950.00,70850.00,75750.00,80600.00,both
79178,11037909,-6,1,-6,-6,31080,2432.10,02,1970,2,1,1960,5,-6,-6,-6,41100,901,2021,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2021.00,80000.00,41400.00,47300.00,53200.00,59100.00,63850.00,68600.00,73300.00,78050.00,24850.00,28400.00,31950.00,35450.00,38300.00,41150.00,44000.00,46800.00,66250.00,75700.00,85150.00,94600.00,102200.00,109750.00,117350.00,124900.00,both
64329,11014701,1600,-6,-6,8,19100,1011.22,02,-6,-6,-6,1960,4,-6,-6,01,-6,-6,2021,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2021.00,89000.00,31150.00,35600.00,40050.00,44500.00,48100.00,51650.00,55200.00,58750.00,18700.00,21400.00,24050.00,26700.00,31040.00,35580.00,40120.00,44660.00,49850.00,57000.00,64100.00,71200.00,76900.00,82600.00,88300.00,94000.00,both
94822,11062171,1300,2,-6,8,12060,1527.58,08,2021,2,3,2000,2,-6,3,-6,312000,1470,2021,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2021.00,86200.00,30200.00,34500.00,38800.00,43100.00,46550.00,50000.00,53450.00,56900.00,18100.00,20700.00,23300.00,26500.00,31040.00,35580.00,40120.00,44660.00,48300.00,55200.00,62100.00,68950.00,74500.00,80000.00,85500.00,91050.00,both
78555,11037005,-6,1,-6,-6,19100,1837.29,02,2013,1,1,1960,4,-6,-6,-6,45000,980,2021,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2021.00,89000.00,31150.00,35600.00,40050.00,44500.00,48100.00,51650.00,55200.00,58750.00,18700.00,21400.00,24050.00,26700.00,31040.00,35580.00,40120.00,44660.00,49850.00,57000.00,64100.00,71200.00,76900.00,82600.00,88300.00,94000.00,both
25897,11047177,1000,2,-6,8,16980,2291.17,06,2017,4,1,1980,2,-6,3,-6,1000,1040,2023,METRO16980M16980,"Chicago-Joliet-Naperville, IL HUD Metro FMR Area",2023.00,112300.00,38650.00,44150.00,49650.00,55150.00,59600.00,64000.00,68400.00,72800.00,23200.00,26500.00,29800.00,33100.00,35750.00,40280.00,45420.00,50560.00,61800.00,70600.00,79450.00,88250.00,95350.00,102400.00,109450.00,116500.00,both

In [44]:
#Checking the shape/info of the new metro_ami_panel_df DataFrame
print(metro_ami_panel_df.shape)
print(metro_ami_panel_df.info())

(315479, 48)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315479 entries, 0 to 315478
Data columns (total 48 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   CONTROL         315479 non-null  object
 1   RENT            315479 non-null  int64
 2   TENURE          315479 non-null  object
 3   RENTCNTRL       315479 non-null  object
 4   RENTSUB         315479 non-null  object
 5   OMB13CBSA       315479 non-null  object
 6   WEIGHT          315479 non-null  float64
 7   BLD             315479 non-null  object
 8   HHMOVE          315479 non-null  int64
 9   NUMPEOPLE       315479 non-null  int64
 10  SAMEHHLD        246929 non-null  object
 11  YRBUILT         315479 non-null  int64
 12  BEDROOMS        315479 non-null  int64
 13  VACMONTHS       315479 non-null  int64
 14  HUDSUB          315479 non-null  object
 15  VACANCY         315479 non-null  object
 16  HINCP           315479 non-null  int64
 17  TOTHCAMT        315479 non-null  int64
 18  SRVYEAR         315479 non-null  int64
 19  hud_area_code   173009 non-null  object
 20  hud_area_name   173009 non-null  object
 21  il_fiscal_year  173009 non-null  float64
 22  median_income   173009 non-null  float64
 23  l50_1           173009 non-null  float64
 24  l50_2           173009 non-null  float64
 25  l50_3           173009 non-null  float64
 26  l50_4           173009 non-null  float64
 27  l50_5           173009 non-null  float64
 28  l50_6           173009 non-null  float64
 29  l50_7           173009 non-null  float64
 30  l50_8           173009 non-null  float64
 31  ELI_1           173009 non-null  float64
 32  ELI_2           173009 non-null  float64
 33  ELI_3           173009 non-null  float64
 34  ELI_4           173009 non-null  float64
 35  ELI_5           173009 non-null  float64
 36  ELI_6           173009 non-null  float64
 37  ELI_7           173009 non-null  float64
 38  ELI_8           173009 non-null  float64
 39  l80_1           173009 non-null  float64
 40  l80_2           173009 non-null  float64
 41  l80_3           173009 non-null  float64
 42  l80_4           173009 non-null  float64
 43  l80_5           173009 non-null  float64
 44  l80_6           173009 non-null  float64
 45  l80_7           173009 non-null  float64
 46  l80_8           173009 non-null  float64
 47  _merge          315479 non-null  category
dtypes: category(1), float64(27), int64(9), object(11)
memory usage: 113.4+ MB
None

All obversations/rows were matched. Dropping the `'_merge'` column.

In [45]:
metro_ami_panel_df.drop(columns=['_merge'], inplace=True)

In [46]:
#Checking the DataFrame again
with pd.option_context('display.max_columns', None):
    display(metro_ami_panel_df.head())

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,SAMEHHLD,YRBUILT,BEDROOMS,VACMONTHS,HUDSUB,VACANCY,HINCP,TOTHCAMT,SRVYEAR,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,l50_7,l50_8,ELI_1,ELI_2,ELI_3,ELI_4,ELI_5,ELI_6,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8
0,11000002,1600,-6,-6,8,99998,813.89,03,-6,-6,-6,1980,4,0,-6,02,-6,-6,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11000003,840,2,-6,8,99998,581.10,03,2023,3,4,1970,2,-6,3,-6,48000,1093,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11000005,-6,1,-6,-6,99998,7335.97,02,1995,2,1,1970,4,-6,-6,-6,292500,810,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11000006,-6,1,-6,-6,99998,6562.87,02,2019,3,4,1970,3,-6,-6,-6,56000,489,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11000008,800,2,-6,8,99998,1490.80,06,2019,1,4,1920,1,-6,3,-6,36000,845,2023,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
#Verify `CONTROL` is unique by survey year
grouped = metro_ami_panel_df.groupby('SRVYEAR')

for year, group in grouped:
    assert group['CONTROL'].nunique() == len(group), f"Control numbers are not unique for SRVYEAR {year}!"

In [48]:
#observing values of the `hud_area_name` column at a list
hud_area_name_list = metro_ami_panel_df['hud_area_name'].unique()

#observing unique CBSA codes
hud_area_code_list = metro_ami_panel_df['hud_area_code'].unique()
OMB13CBSA_list = metro_ami_panel_df['OMB13CBSA'].unique()

# Print the list
print(hud_area_name_list)
print(hud_area_code_list)
print(OMB13CBSA_list)

[nan 'Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA'
 'Washington-Arlington-Alexandria, DC-VA-MD HUD Metro FMR Area'
 'New York, NY HUD Metro FMR Area'
 'Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area'
 'San Francisco, CA HUD Metro FMR Area'
 'Houston-The Woodlands-Sugar Land, TX HUD Metro FMR Area'
 'Miami-Miami Beach-Kendall, FL HUD Metro FMR Area'
 'Atlanta-Sandy Springs-Roswell, GA HUD Metro FMR Area'
 'Phoenix-Mesa-Scottsdale, AZ MSA'
 'Chicago-Joliet-Naperville, IL HUD Metro FMR Area'
 'Dallas, TX HUD Metro FMR Area'
 'Detroit-Warren-Livonia, MI HUD Metro FMR Area'
 'Seattle-Bellevue, WA HUD Metro FMR Area'
 'Los Angeles-Long Beach-Glendale, CA HUD Metro FMR Area'
 'Riverside-San Bernardino-Ontario, CA MSA'
 'Houston-Baytown-Sugar Land, TX HUD Metro FMR Area'
 'Atlanta-Sandy Springs-Marietta, GA HUD Metro FMR Area'
 'Phoenix-Mesa-Glendale, AZ MSA'
 'Los Angeles-Long Beach, CA HUD Metro FMR Area']
[nan 'METRO37980M37980' 'METRO47900M47900' 'METRO35620MM5600'
 'METRO14460MM1120' 'METRO41860MM7360' 'METRO26420M26420'
 'METRO33100MM5000' 'METRO12060M12060' 'METRO38060M38060'
 'METRO16980M16980' 'METRO19100M19100' 'METRO19820M19820'
 'METRO42660MM7600' 'METRO31080MM4480' 'METRO40140M40140']
['99998' '37980' '99999' '47900' '35620' '14460' '41860' '26420' '33100'
 '12060' '38060' '16980' '19100' '19820' '42660' '31080' '40140']

Since some Metro names change within the panel data, I will refer to the CBSA Codes (`'OMB13CBSA'`) for metro-based analyses.

## Categorizing Renter Households based on Area Median Income (AMI)/Income Limits.

I am creating a new `AMI` column consisting of catagorical variables (ELI, VLI, LI, and Above LI) that catagorizes each observation into an AMI group. I will include larger households by incresing the 8-person limit by 8% of the 4-person limit for each additional person beyond 8. 


### 1. Creating a function to assign an AMI catagory to renter households that have over eight (8) peoeple in the unit.

_This is from [HUD USER FY23 Income Limit Documentation](https://www.huduser.gov/portal/datasets/il//il23/IncomeLimitsMethodology-FY23.pdf)_

| **Number of Persons in Family and Percentage Adjustments** | 1    | 2    | 3    | 4    | 5     | 6     | 7     | 8     |
|:-----------------------------------------------------------:|:----:|:----:|:----:|:----:|:-----:|:-----:|:-----:|:-----:|
|                                                             | 70%  | 80%  | 90%  | Base | 108%  | 116%  | 124%  | 132%  |


HUD does not include income limits for families with more than eight persons in the printed lists because of space limitations. For each person over eight-persons, the four-person income limit should be multiplied by an additional 8 percent. (For example, the nine-person limit equals 140 percent \[132 + 8\] of the relevant four-person income limit.) HUD rounds income limits up to the nearest &#36;50.

**Note:**  HUD has used the very low-income limits as the basis for deriving other income limits, unless the relevant statutory language has no references or relationship to low- and very low-income limits, as defined by the U.S. Housing Act of 1937.

#### Example:

* Very Low-Inome limit for 4-person household = &#36;46,750 
* Very Low-Income limit for 8-person household = &#36;61,750 
    * (&#36;46,750 * .32) _rounded to the nearest &#36;50_  
* Low-Income limit for 9-person = &#36;65,450 
    * (&#36;46,750 * .40) _not rounded since the product is a multiple of &#36;50_

In [49]:
#Examinig how many renter/owner-occupied housing units have more than 8 people 
metro_ami_panel_df.groupby('TENURE')['NUMPEOPLE'].value_counts()

TENURE  NUMPEOPLE
-6      -6           41729
1        2           60226
         1           37296
         3           25044
         4           23769
         5           10332
         6            3831
         7            1329
         8             483
         9             200
         10             81
         11             36
         12             22
         13             10
         14              3
         15              2
         16              1
         18              1
2        1           45034
         2           28879
         3           15847
         4           11565
         5            5806
         6            2406
         7             955
         8             362
         9             135
         10             46
         11             24
         12             10
         13              6
         14              3
         15              2
         16              1
         17              1
         18              1
         19              1
Name: count, dtype: int64

356 owner-occupied housing units have more than 8 people in the unit. 230 renter-occupied housing units have more than 8 people in the unit.

In [50]:
def adjusted_thresholds(threshold_4_array, ppl_count_array):
    """
    Vectorized adjustment of income thresholds for households with more than 8 people.
    - Applies HUD rule: Add 8% of the 4-person threshold for each person beyond 8.
    - Returns NaN for households with 8 or fewer people (which will be handled in the function below)
    
    Parameters:
    - threshold_4_array: array of 4-person income thresholds
    - ppl_count_array: array of household sizes (number of people)
    
    Returns:
    - array of adjusted thresholds (or Nan if 'NUMPEOPLE' <= 8)
    """
    #Convert inputs to NumPy arrays if they are not already an array
    threshold_4_array = np.asarray(threshold_4_array)
    ppl_count_array = np.asarray(ppl_count_array)
    
    #Calculate how many obversations/renter households exceed 8 people
    extra_people = np.maximum(ppl_count_array - 8, 0)
    
    #Compute the total adjustment: 8% increase for each "extra" person and rounds to the nearest $50 
    adjustment = np.round((threshold_4_array * 0.08 * extra_people) / 50) * 50
    
    #Apply the adjusment only if there are extra people; else return NaN
    adjusted_thresholds = np.where(extra_people > 0, threshold_4_array + adjustment, np.nan)
    
    return adjusted_thresholds

### 2. Assigning the correct income threshold based on houhsehold size.

In [51]:
def get_threshold_by_size(df, base_col):
    """
    Return a pandas Series with the appropriate income threshold for each household size ('NUMPEOPLE' 1–8).
    
    Parameters:
    - df: DataFrame containing threshold columns like 'ELI_1' to 'ELI_8', 'l50_1' to l50_8`, etc.
    - base_cal: string, the prefix for the threshold columns ('ELI', 'l50', 'l80', etc.)
    
    Returns:
    - A pandas Series of thresholds matched to each household's NUMPEOPLE.
    """
    #Create list of column names to pull threshold values by size
    columns = [f'{base_col}_{i}' for i in range(1, 9)]
    
    #Convert these threshold columns to a NumPY matrix (2d array)
    matrix = df[columns].to_numpy()
    
    #Calculate the index of the column that corresponds to each row's NUMPEOPLE
    #Clip NUMPEOPLE to 1-8 range, subtract 1 for zero-based indexing
    indexer = df['NUMPEOPLE'].clip(1, 8).astype(int) - 1
    
    #Select the threshold from the appropriate column for each row
    return matrix[np.arange(len(df)), indexer]

### 3. Assign the AMI to each unique renter houhsehold
This is the final part of the function/method for assigning onwer/renter-occupied housing units to an **AMI categories** (Extremely Low Income `ELI`, Very Low Income `VLI`, Low Income `LI`, and Above Low Income `Above LI`) based on:
- AHS Household inomce variable (`'HINCP'`)
- AHS Household size (`'NUMPEOPLE'`)
- HUD Income Limts (`'ELI_1'` to `'ELI_8'`, `'l50_1'` to `'l50_8'`, etc.

In [52]:
def assign_ami_category(df):
    """
    Assign AMI category (ELI, VLI, LI, Above LI) to each unique renter household (`CONTROL`).
    
    Expects Columns:
    - 'HINCP': household income
    - 'NUMPEOPLE': household size
    - Thresholds: 'ELI_1' - 'ELI_8', 'l50_1' - 'l50_8', 'l80_1' - 'l80_8'
    - And 'ELI_4', 'l50_4', 'l80_4' for adjustments for households with more than 8 people
    """
    df = df.copy()
    
    
    #--------- Vectorized thresholds for ELI, VLI, LI ---------
    for prefix, out_col, fallback_col in [
        ('ELI', 'ELI_threshold', 'ELI_4'),
        ('l50', 'VLI_threshold', 'l50_4'),
        ('l80', 'LI_threshold', 'l80_4'),
    ]:
        #Threshold matrix for 1-8 people: shape (n_rows, 8)
        cols = [f'{prefix}_{i}' for i in range (1, 9)]
        matrix = df[cols].to_numpy()
        
        #Index into the threshold matrix using NUMPEOPLE
        ppl_idx = df['NUMPEOPLE'].clip(1, 8).astype(int) - 1
        size_thresholds = matrix[np.arange(len(df)), ppl_idx]
        
        #Adjust for larger households (>8)
        adjusted = adjusted_thresholds(df[fallback_col], df['NUMPEOPLE'])
        
        #Combine adjusted and base thresholds
        df[out_col] = np.where(df['NUMPEOPLE'] <= 8, size_thresholds, adjusted)
        
    #--------- AMI assignment (Fully vectorized) ---------    
    conditions = [
        df['HINCP'] <= df['ELI_threshold'],
        df['HINCP'] <= df['VLI_threshold'],
        df['HINCP'] <= df['LI_threshold']
    ]
    choices = ['ELI', 'VLI', 'LI']    
    df['AMI'] = np.select(conditions, choices, default='Above LI')
    
    # Set AMI = NaN if any of the key inputs is missing
    required_columns = [
        'l50_1', 'l50_2', 'l50_3', 'l50_4', 'l50_5', 'l50_6', 'l50_7', 'l50_8',
        'ELI_1', 'ELI_2', 'ELI_3', 'ELI_4', 'ELI_5', 'ELI_6', 'ELI_7', 'ELI_8',
        'l80_1', 'l80_2', 'l80_3', 'l80_4', 'l80_5', 'l80_6', 'l80_7', 'l80_8',
        'ELI_threshold', 'VLI_threshold', 'LI_threshold'
    ]
    invalid_mask = df[required_columns].isna().any(axis=1) | (df['HINCP'] == -6)
    df.loc[invalid_mask, 'AMI'] = np.nan

    return df

### 4. Using the functions to assign an `'AMI'` category and examining `metro_ami_panel_df` after the funciton was executed.

In [53]:
#Usage
metro_ami_panel_df = assign_ami_category(metro_ami_panel_df)

In [54]:
#Looking at the newly created DataFrame with the 'AMI' values
metro_ami_panel_df.head()

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,...,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,ELI_threshold,VLI_threshold,LI_threshold,AMI
0,11000002,1600,-6,-6,8,99998,813.89,03,-6,-6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11000003,840,2,-6,8,99998,581.10,03,2023,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11000005,-6,1,-6,-6,99998,7335.97,02,1995,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11000006,-6,1,-6,-6,99998,6562.87,02,2019,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11000008,800,2,-6,8,99998,1490.80,06,2019,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
#Preliminary review of AMI counts over the survey years.
print(metro_ami_panel_df.groupby(['SRVYEAR', 'TENURE'])['AMI'].value_counts())

SRVYEAR  TENURE  AMI
2015     1       Above LI    13242
                 LI           2587
                 ELI          2120
                 VLI          1601
         2       Above LI     5026
                 ELI          4258
                 LI           2324
                 VLI          2101
2017     1       Above LI    13064
                 LI           2587
                 ELI          2020
                 VLI          1607
         2       Above LI     5043
                 ELI          3684
                 LI           2377
                 VLI          1963
2019     1       Above LI    12435
                 LI           2618
                 ELI          2079
                 VLI          1608
         2       Above LI     4633
                 ELI          3444
                 LI           2259
                 VLI          1816
2021     1       Above LI    11384
                 LI           2515
                 ELI          2107
                 VLI          1557
         2       ELI          4573
                 Above LI     4239
                 LI           2217
                 VLI          1923
2023     1       Above LI     9996
                 LI           2267
                 ELI          1956
                 VLI          1438
         2       ELI          3802
                 Above LI     3452
                 LI           1866
                 VLI          1667
Name: count, dtype: int64

In [56]:
#Looking at number of NaN values in the 'AMI' column
metro_ami_panel_df['AMI'].isna().sum()

162024

In [57]:
#checking NaN values in 'OMB13CBSA' column
# Count NaN values for each selected column within each OMB13CBSA group
nan_ami_counts_by_cbsa = (
    metro_ami_panel_df
    .groupby('OMB13CBSA')[['ELI_threshold', 'VLI_threshold', 'LI_threshold', 'AMI'
    ]]
    .apply(lambda df: df.isna().sum())
)

# View the result
with pd.option_context('display.max_columns', None):
    display(nan_ami_counts_by_cbsa)

           ELI_threshold  VLI_threshold  LI_threshold     AMI
OMB13CBSA
12060                  0              0             0    1239
14460                  0              0             0     767
16980                  0              0             0    1175
19100                  0              0             0    1152
19820                  0              0             0    1430
26420                  0              0             0    1571
31080                  0              0             0     840
33100                  0              0             0    2757
35620                  0              0             0    1208
37980                  0              0             0    1037
38060                  0              0             0    1648
40140                  0              0             0    1789
41860                  0              0             0     921
42660                  0              0             0     972
47900                  0              0             0    1048
99998             110821         110821        110821  110821
99999              31649          31649         31649   31649

162,024 is the sum of NaNs from the number of observations in `'OMB13CBSA'` column that equal `'99998'` and `'99999'` (142,470) _**plus**_ the sum of NaN values within the 15 largest metropolitan areas that are vacant `'TENURE' == '-6'` (19,554).

### 5. Data Integrity Check

In [58]:
# Data integrity check
def check_data_integrity(df):
    print("🔍 DATA INTEGRITY CHECK\n" + "-"*30)
    
    total_rows = len(df)
    unique_ids = df[['CONTROL', 'SRVYEAR']].drop_duplicates().shape[0]
    control_duplicates = df['CONTROL'].duplicated().sum()
    
    print(f"Total rows: {total_rows}")
    print(f"Unique CONTROL + SRVYEAR pairs: {unique_ids}")
    print(f"Duplicate CONTROL values (across years): {control_duplicates}")
    
    # Nulls in key columns
    missing_income = df['HINCP'].isna().sum()
    missing_size = df['NUMPEOPLE'].isna().sum()
    missing_ami = df['AMI'].isna().sum()
    
    print(f"Missing household income (HINCP): {missing_income}")
    print(f"Missing household size (NUMPEOPLE): {missing_size}")
    print(f"Missing AMI category assignments: {missing_ami}")
    
    # AMI distribution
    print("\n📊 AMI Category Distribution:")
    print(df['AMI'].value_counts(dropna=False).sort_index())
    
    print("\n✅ All checks complete.\n")

In [59]:
#Usage
check_data_integrity(metro_ami_panel_df)

🔍 DATA INTEGRITY CHECK
------------------------------
Total rows: 315479
Unique CONTROL + SRVYEAR pairs: 315479
Duplicate CONTROL values (across years): 223708
Missing household income (HINCP): 0
Missing household size (NUMPEOPLE): 0
Missing AMI category assignments: 162024

📊 AMI Category Distribution:
AMI
Above LI     82514
ELI          30043
LI           23617
VLI          17281
NaN         162024
Name: count, dtype: int64

✅ All checks complete.

In [60]:
#Looking at the instance were `NUMPEOPLE` is greater than 8 people
metro_ami_panel_df.loc[metro_ami_panel_df['NUMPEOPLE'] > 8]

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,...,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,ELI_threshold,VLI_threshold,LI_threshold,AMI
11,11000021,3000,2,-6,8,99998,5647.69,04,2018,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
686,11001286,1700,2,-6,8,99998,825.56,02,2017,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3642,11006591,50,2,2,6,41860,882.98,02,2007,10,...,133800.00,148650.00,160550.00,172450.00,184350.00,196250.00,64650.00,107750.00,172450.00,Above LI
4497,11008115,-6,1,-6,-6,99998,4039.95,02,2022,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4722,11008539,350,2,-6,8,99998,5936.33,02,2008,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312024,11081015,-6,1,-6,-6,19820,707.01,02,1996,10,...,48750.00,54150.00,58500.00,62850.00,67150.00,71500.00,28150.00,39250.00,62800.00,Above LI
313079,11082338,-6,1,-6,-6,99998,3877.67,02,1999,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313211,11082507,-6,1,-6,-6,33100,1138.75,02,2009,14,...,48750.00,54150.00,58500.00,62850.00,67150.00,71500.00,35900.00,50100.00,80150.00,ELI
313957,11083428,-6,1,-6,-6,99999,5185.82,02,2006,9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314650,11084275,1400,2,-6,8,16980,1653.01,02,2014,11,...,54750.00,60800.00,65700.00,70550.00,75400.00,80300.00,30050.00,47100.00,75400.00,Above LI

### Checking a random group of owner/renter-occupied housing units in the top 15 largest metropolitan areas to see if AMI assignment worked correctly

In [61]:
# Filter your dataframe to include only the specified CBSAs (defined in code line 49)
filtered_ami_df = metro_ami_panel_df[metro_ami_panel_df['OMB13CBSA'].isin(cbsa_values)]

# Randomly sample 25 rows from the filtered dataframe
sample_ami_df = filtered_ami_df.sample(n=25, random_state=12)

# Display or work with the result
with pd.option_context('display.max_columns', None):
    display(sample_ami_df)

,CONTROL,RENT,TENURE,RENTCNTRL,RENTSUB,OMB13CBSA,WEIGHT,BLD,HHMOVE,NUMPEOPLE,SAMEHHLD,YRBUILT,BEDROOMS,VACMONTHS,HUDSUB,VACANCY,HINCP,TOTHCAMT,SRVYEAR,hud_area_code,hud_area_name,il_fiscal_year,median_income,l50_1,l50_2,l50_3,l50_4,l50_5,l50_6,l50_7,l50_8,ELI_1,ELI_2,ELI_3,ELI_4,ELI_5,ELI_6,ELI_7,ELI_8,l80_1,l80_2,l80_3,l80_4,l80_5,l80_6,l80_7,l80_8,ELI_threshold,VLI_threshold,LI_threshold,AMI
106217,11079177,1600,2,-6,5,35620,5575.21,08,2010,2,1,1980,1,-6,3,-6,61000,1670,2021,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2021.00,81700.00,41800.00,47750.00,53700.00,59650.00,64450.00,69200.00,74000.00,78750.00,25100.00,28650.00,32250.00,35800.00,38700.00,41550.00,44400.00,47300.00,66850.00,76400.00,85950.00,95450.00,103100.00,110750.00,118400.00,126000.00,28650.00,47750.00,76400.00,LI
138301,11028821,-6,1,-6,-6,35620,5327.57,02,2007,3,1,1980,4,-6,-6,-6,155000,4184,2019,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2019.00,75500.00,37350.00,42700.00,48050.00,53350.00,57650.00,61900.00,66200.00,70450.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,43430.00,59750.00,68300.00,76850.00,85350.00,92200.00,99050.00,105850.00,112700.00,28800.00,48050.00,76850.00,Above LI
284394,11046932,-6,1,-6,-6,31080,1648.04,02,1988,2,NaN,1919,3,-6,-6,-6,44400,690,2015,METRO31080MM4480,"Los Angeles-Long Beach, CA HUD Metro FMR Area",2015.00,63000.00,29050.00,33200.00,37350.00,41500.00,44850.00,48150.00,51500.00,54800.00,17450.00,19950.00,22450.00,24900.00,28410.00,32570.00,36730.00,40890.00,46500.00,53150.00,59800.00,66400.00,71750.00,77050.00,82350.00,87650.00,19950.00,33200.00,53150.00,LI
112096,11088402,-6,1,-6,-6,19100,1579.56,02,2017,2,3,2016,3,-6,-6,-6,35100,417,2021,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2021.00,89000.00,31150.00,35600.00,40050.00,44500.00,48100.00,51650.00,55200.00,58750.00,18700.00,21400.00,24050.00,26700.00,31040.00,35580.00,40120.00,44660.00,49850.00,57000.00,64100.00,71200.00,76900.00,82600.00,88300.00,94000.00,21400.00,35600.00,57000.00,VLI
85592,11047945,1200,2,1,8,31080,2241.31,05,1987,1,1,1980,2,-6,3,-6,0,1280,2021,METRO31080MM4480,"Los Angeles-Long Beach-Glendale, CA HUD Metro ...",2021.00,80000.00,41400.00,47300.00,53200.00,59100.00,63850.00,68600.00,73300.00,78050.00,24850.00,28400.00,31950.00,35450.00,38300.00,41150.00,44000.00,46800.00,66250.00,75700.00,85150.00,94600.00,102200.00,109750.00,117350.00,124900.00,24850.00,41400.00,66250.00,ELI
153382,11050587,1200,2,-6,5,35620,3571.73,08,1991,2,1,1970,2,-6,3,-6,55820,1290,2019,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2019.00,75500.00,37350.00,42700.00,48050.00,53350.00,57650.00,61900.00,66200.00,70450.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,43430.00,59750.00,68300.00,76850.00,85350.00,92200.00,99050.00,105850.00,112700.00,25600.00,42700.00,68300.00,LI
70774,11024948,1300,-6,-6,-9,19100,1011.22,02,-6,-6,-6,2000,4,-9,-6,01,-6,-6,2021,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2021.00,89000.00,31150.00,35600.00,40050.00,44500.00,48100.00,51650.00,55200.00,58750.00,18700.00,21400.00,24050.00,26700.00,31040.00,35580.00,40120.00,44660.00,49850.00,57000.00,64100.00,71200.00,76900.00,82600.00,88300.00,94000.00,18700.00,31150.00,49850.00,NaN
231388,11066575,-6,1,-6,-6,40140,523.87,02,1997,2,3,1970,4,-6,-6,-6,163000,2014,2017,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2017.00,63200.00,22600.00,25800.00,29050.00,32250.00,34850.00,37450.00,40000.00,42600.00,13550.00,16240.00,20420.00,24600.00,28780.00,32960.00,37140.00,41320.00,36150.00,41300.00,46450.00,51600.00,55750.00,59900.00,64000.00,68150.00,16240.00,25800.00,41300.00,Above LI
197990,11022683,-6,1,-6,-6,12060,986.11,02,2015,6,4,1990,3,-6,-6,-6,155000,463,2017,METRO12060M12060,"Atlanta-Sandy Springs-Roswell, GA HUD Metro FM...",2017.00,69700.00,24400.00,27900.00,31400.00,34850.00,37650.00,40450.00,43250.00,46050.00,14650.00,16750.00,20420.00,24600.00,28780.00,32960.00,37140.00,41320.00,39050.00,44600.00,50200.00,55750.00,60250.00,64700.00,69150.00,73600.00,32960.00,40450.00,64700.00,Above LI
306152,11073899,1300,2,-9,8,41860,880.27,08,2003,4,NaN,1919,2,-6,3,-6,35000,1370,2015,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2015.00,101900.00,41050.00,46900.00,52750.00,58600.00,63300.00,68000.00,72700.00,77400.00,24650.00,28150.00,31650.00,35150.00,38000.00,40800.00,43600.00,46400.00,65700.00,75100.00,84500.00,93850.00,101400.00,108900.00,116400.00,123900.00,35150.00,58600.00,93850.00,ELI
94459,11061611,-6,1,-6,-6,19820,1125.87,02,2004,1,1,1970,3,-6,-6,-6,62000,1087,2021,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2021.00,80000.00,28000.00,32000.00,36000.00,40000.00,43200.00,46400.00,49600.00,52800.00,16800.00,19200.00,21960.00,26500.00,31040.00,35580.00,40120.00,44660.00,44800.00,51200.00,57600.00,64000.00,69150.00,74250.00,79400.00,84500.00,16800.00,28000.00,44800.00,Above LI
76988,11034613,-6,1,-6,-6,35620,3413.75,03,2006,3,1,1980,2,-6,-6,-6,85000,2409,2021,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2021.00,81700.00,41800.00,47750.00,53700.00,59650.00,64450.00,69200.00,74000.00,78750.00,25100.00,28650.00,32250.00,35800.00,38700.00,41550.00,44400.00,47300.00,66850.00,76400.00,85950.00,95450.00,103100.00,110750.00,118400.00,126000.00,32250.00,53700.00,85950.00,LI
275033,11035316,-6,1,-6,-6,38060,911.60,02,2008,2,NaN,2000,2,-6,-6,-6,85000,1862,2015,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",2015.00,64000.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,42250.00,13450.00,15930.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,35850.00,41000.00,46100.00,51200.00,55300.00,59400.00,63500.00,67600.00,15930.00,25600.00,41000.00,Above LI
240641,11078549,-6,1,-6,-6,33100,1127.30,09,2010,1,2,2000,2,-6,-6,-6,2000,2116,2017,METRO33100MM5000,"Miami-Miami Beach-Kendall, FL HUD Metro FMR Area",2017.00,51800.00,26450.00,30200.00,34000.00,37750.00,40800.00,43800.00,46850.00,49850.00,15900.00,18150.00,20420.00,24600.00,28780.00,32960.00,37140.00,41320.00,42300.00,48350.00,54400.00,60400.00,65250.00,70100.00,74900.00,79750.00,15900.00,26450.00,42300.00,ELI
188607,11010248,-6,1,-6,-6,35620,3704.55,03,1991,4,1,1930,3,-6,-6,-6,170060,1214,2017,METRO35620MM5600,"New York, NY HUD Metro FMR Area",2017.00,66200.00,33400.00,38200.00,42950.00,47700.00,51550.00,55350.00,59150.00,63000.00,20050.00,22900.00,25750.00,28600.00,30900.00,33200.00,37140.00,41320.00,53450.00,61050.00,68700.00,76300.00,82450.00,88550.00,94650.00,100750.00,28600.00,47700.00,76300.00,Above LI
262922,11020102,-6,1,-6,-6,38060,711.19,02,1995,1,NaN,1970,3,-6,-6,-6,40100,902,2015,METRO38060M38060,"Phoenix-Mesa-Glendale, AZ MSA",2015.00,64000.00,22400.00,25600.00,28800.00,32000.00,34600.00,37150.00,39700.00,42250.00,13450.00,15930.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,35850.00,41000.00,46100.00,51200.00,55300.00,59400.00,63500.00,67600.00,13450.00,22400.00,35850.00,Above LI
311506,11080379,-6,1,-6,-6,19820,847.66,02,2006,4,NaN,1990,3,-6,-6,-6,156160,2260,2015,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2015.00,67700.00,23700.00,27100.00,30500.00,33850.00,36600.00,39300.00,42000.00,44700.00,14250.00,16250.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,37950.00,43350.00,48750.00,54150.00,58500.00,62850.00,67150.00,71500.00,24250.00,33850.00,54150.00,Above LI
180552,11088339,-6,1,-6,-6,42660,803.04,02,2019,4,4,2019,4,-6,-6,-6,167000,2079,2019,METRO42660MM7600,"Seattle-Bellevue, WA HUD Metro FMR Area",2019.00,108600.00,38750.00,44300.00,49850.00,55350.00,59800.00,64250.00,68650.00,73100.00,23250.00,26600.00,29900.00,33200.00,35900.00,38550.00,41200.00,43850.00,61800.00,70600.00,79450.00,88250.00,95350.00,102400.00,109450.00,116500.00,33200.00,55350.00,88250.00,Above LI
296676,11062157,-6,1,-6,-6,12060,960.36,02,2004,2,NaN,1990,4,-6,-6,-6,101000,1638,2015,METRO12060M12060,"Atlanta-Sandy Springs-Marietta, GA HUD Metro F...",2015.00,68300.00,23900.00,27300.00,30700.00,34100.00,36850.00,39600.00,42300.00,45050.00,14350.00,16400.00,20090.00,24250.00,28410.00,32570.00,36730.00,40890.00,38200.00,43650.00,49100.00,54550.00,58950.00,63300.00,67650.00,72050.00,16400.00,27300.00,43650.00,Above LI
19393,11035445,-6,1,-6,-6,14460,1410.82,02,2015,4,1,2000,4,-6,-6,-6,280000,5326,2023,METRO14460MM1120,"Boston-Cambridge-Quincy, MA-NH HUD Metro FMR Area",2023.00,149300.00,51950.00,59400.00,66800.00,74200.00,80150.00,86100.00,92050.00,97950.00,31150.00,35600.00,40050.00,44500.00,48100.00,51650.00,55200.00,58750.00,82950.00,94800.00,106650.00,118450.00,127950.00,137450.00,146900.00,156400.00,44500.00,74200.00,118450.00,Above LI
79538,11038529,-6,1,-6,-6,26420,778.63,01,2010,3,4,1990,4,-6,-6,-6,105000,623,2021,METRO26420M26420,"Houston-The Woodlands-Sugar Land, TX HUD Metro...",2021.00,79200.00,27750.00,31700.00,35650.00,39600.00,42800.00,45950.00,49150.00,52300.00,16650.00,19000.00,21960.00,26500.00,31040.00,35580.00,40120.00,44660.00,44350.00,50700.00,57050.00,63350.00,68450.00,73500.00,78600.00,83650.00,21960.00,35650.00,57050.00,Above LI
26672,11048541,60,2,-6,1,19100,504.38,09,2019,3,4,1970,2,-6,1,-6,0,130,2023,METRO19100M19100,"Dallas, TX HUD Metro FMR Area",2023.00,105600.00,36100.00,41250.00,46400.00,51550.00,55700.00,59800.00,63950.00,68050.00,21700.00,24800.00,27900.00,30950.00,35140.00,40280.00,45420.00,50560.00,57750.00,66000.00,74250.00,82500.00,89100.00,95700.00,102300.00,108900.00,27900.00,46400.00,74250.00,ELI
122866,11006493,2400,2,2,8,41860,716.26,05,2018,2,4,1970,1,-6,3,-6,65000,2576,2019,METRO41860MM7360,"San Francisco, CA HUD Metro FMR Area",2019.00,136800.00,56450.00,64500.00,72550.00,80600.00,87050.00,93500.00,99950.00,106400.00,33850.00,38700.00,43550.00,48350.00,52250.00,56100.00,60000.00,63850.00,90450.00,103350.00,116250.00,129150.00,139500.00,149850.00,160150.00,170500.00,38700.00,64500.00,103350.00,LI
160581,11060718,-6,-6,-6,-6,19820,307.75,02,-6,-6,-6,1920,4,12,-6,07,-6,-6,2019,METRO19820M19820,"Detroit-Warren-Livonia, MI HUD Metro FMR Area",2019.00,76300.00,26750.00,30550.00,34350.00,38150.00,41250.00,44300.00,47350.00,50400.00,16050.00,18350.00,21330.00,25750.00,30170.00,34590.00,39010.00,43430.00,42750.00,48850.00,54950.00,61050.00,65950.00,70850.00,75750.00,80600.00,16050.00,26750.00,42750.00,NaN
38309,11069588,-6,1,-6,-6,40140,958.16,03,2011,4,1,1990,2,-6,-6,-6,90000,1927,2023,METRO40140M40140,"Riverside-San Bernardino-Ontario, CA MSA",2023.00,94500.00,32650.00,37300.00,41950.00,46600.00,50350.00,54100.00,57800.00,61550.00,19600.00,22400.00,25200.00,30000.00,35140.00,40280.00,45420.00,50560.00,52200.00,59650.00,67100.00,74550.00,80550.00,86500.00,92450.00,98450.00,30000.00,46600.00,74550.00,Above LI

Based on reviewing random samples of the data, It appears as though the AMI assignment function worked.

## Exporting `metro_ami_panel_df` to csv for analysis in subsequent Notebooks.

In [ ]:
#Export the DataFrame to a CSV file at the specified location without the index
metro_ami_panel_df.to_csv('data/ahs/metro_ami_panel_df.csv', index=False)